[run]
branch = True
source =
    auth_helpers
    bulk_adding
    cached_counts
    candidates
    compat
    elections
    moderation_queue
    official_documents
    results
    tasks
    uk_results
omit =
    */tests/*
    */tests.py
    */apps.py
    */migrations/*
    ynr/wsgi.py
    ynr/settings/*
