# Start with a clean slate by ignoring all paths.
*

# Selectively include paths that need to be part of the image.
!/ynr/
!/requirements/
!/requirements.txt
!/manage.py
!/gulpfile.js

# Paths that don't need to be part of the image, but also don't need to be
# excluded when explicitly referenced by COPY and ADD commands.
!/container/build/system-packages
!/package.json
!/package-lock.json
