__pycache__
*.pyc
*.mo
/db.sqlite3
/static
ynr/static/*
ynr/media/*
ynr/assets/*
!.gitkeep
/ynr/apps/candidates/static/candidates/style.css
/ynr/apps/elections/*/static/candidates/style.css
/ynr/settings/local.py
.sass-cache
/htmlcov
/.coverage
/ynr/static/jsi18n
.DS_Store
.tox
.cache
.pytest_cache
*.css.map
test-results
env/
node_modules/
.vscode/