__pycache__
*.pyc
*.mo
/db.sqlite3
/static
/candidates/static/candidates/style.css
/elections/*/static/candidates/style.css
.sass-cache
/htmlcov
/.coverage
/mysite/settings/local.py
/mysite/static/jsi18n
.DS_Store
.tox
.cache
