aenum==2.1.2
beautifulsoup4==4.6.3
black;python_version>="3.6"
bleach==2.1.4
boto3==1.7.82
celery[redis]==4.2.1
celery-haystack==0.10
certifi>=2017.4.17
cffi>=1.7
coverage>=3.6
cryptography==2.3.1
decorator==4.0.4
django-allauth==0.31.0
django-appconf==1.0.2
django-braces==1.13.0
django-cors-headers==2.4.0
django-date-extensions==2.0
django-debug-toolbar-template-timings
django-debug-toolbar==1.9.1
django-extensions==2.1.0
django-filter==1.1.0
django-haystack==2.8.1
django-markdown-deux==1.0.5
django-model-utils==3.1.2
django-notifications-hq==1.1
django-pipeline==1.6.14
django-storages==1.6.6
django-webtest==1.7.8
Django>=1.10,<1.11
djangorestframework-jsonp==1.0.2
djangorestframework==3.7.7
docutils==0.10
elasticsearch==2.4.1
factory-boy==2.6.0
fake-factory==0.5.3
futures==3.0.3
git+https://github.com/dessibelle/sorl-thumbnail-serializer-field.git#egg=sorl-thumbnail-serializer-field
html5lib==1.0.1
idna>=2.5,<2.8
ipaddress==1.0.22
ipdb==0.11
ipython-genutils==0.2.0
ipython==6.5.0
jsonfield==1.0.3
jsonpatch==1.15
jsonpointer==1.10
libsass==0.11.1
lxml==4.2.4
mock==1.0.1
mysociety-django-images==0.0.5
ndg-httpsclient==0.5.1
numpy==1.15.1
oauthlib==2.1.0
path.py==11.0.1
pexpect==3.3
pickleshare==0.7.4
Pillow==3.2.0
psycopg2-binary==2.7.4
pyasn1==0.1.9
pycparser==2.14
pygeocoder==1.2.5
pyopenssl==18.0.0
pytest
pytest-cov
pytest-django
pytest-env
pytest-flakes
pytest-pep8
python-dateutil==2.7.3
python-magic==0.4.6
python-memcached==1.59
python-openid==2.2.5
python-slugify==1.2.5
PyYAML==3.13
raven==6.9.0
requests-oauthlib==0.5.0
requests==2.19.1
simplegeneric==0.8.1
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.2.4
tox
traitlets==4.3.2
Unidecode==1.0.22
urllib3<1.23,>=1.21.1
waitress==0.8.9
WebOb==1.8.2
WebTest==2.0.15
Whoosh==2.7.4
yanc==0.3.3
