.finder {
  .content {
    background-color: #f4f1ed
  }
}

.finder__forms {
  text-align: center;
  max-width: 30em;
  margin: 0 auto 2em auto;

  label {
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

  .select2-container {
    text-align: left;
  }

  .select-constituency {
    display: block;
    margin-top: 1em;
  }

  ul {
    display: inline-block;
    text-align: left;
  }
}

.finder__description {
  background-color: $homepage-description-background-color;
  color: $homepage-description-text-color;
  padding: 2.5em 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.finder__activity__changes,
.finder__activity__leaderboard {
  h2 a {
    display: block;
    background: transparent url(img/icon-changes.png) left center no-repeat;
    padding-left: 40px;
  }

  .edits, .when {
    color: #999;
  }

  .when {
    display: block;
  }

  .edits {
    margin-left: 0.5em;
  }

  li {
    line-height: 1.3em;
    padding: 0.5em 0;
    border-top: 1px solid #eee;
  }

  ol {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  p.more {
    line-height: 1.3em;
    padding: 0.5em 0;
  }
}

.finder__activity__changes {
  a {
    color: $homepage-activity-color;

    &:hover, &:focus {
      color: darken($homepage-activity-color, 10%);
    }
  }
}

.finder__activity__leaderboard {
  h2 a {
    background-image: url(img/icon-leaderboard.png);
  }

  a {
    color: $homepage-leaderboard-color;

    &:hover, &:focus {
      color: darken($homepage-leaderboard-color, 10%);
    }
  }
}

@media #{$medium-up} {

  body.finder {
    .content {
      padding-top: 3em;
      background-color: #EEE;
    }

    // More impactful homepage header on wide screens
    .header__hero {
      padding-top: 2em;
      padding-bottom: 4em;
      text-align: center;

      .lead {
        font-size: 1.5em;
        line-height: 1.4em;
        margin-top: 0.7em;

        &+.lead {
          font-size: 1.2em;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .finder__forms {
    max-width: 100%;

    .finder__forms__container {
      background-color: #FFF;
      margin: 0 auto; // override auto margins from smaller screens
      padding: 2em 3em;
      width: 70%;
      box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    }
  }
  .cta-SOPN_TRACKER .finder__forms__container, .cta-RESULTS_PROGRESS .finder__forms__container {
    width:100%
  }
  .finder__description {
    @include clearfix();

    p {
      float: left;
      width: 25%;
    }

    p + p {
      margin-left: 4%;
    }
  }

  .finder__activity {
    display: flex;

    & > div {
      flex: 1;
      margin: 0 0.5em;
      box-shadow: 0 2px 2px rgba(0,0,0,0.1);
      background-color: white;
      padding:1em;
    }

    h2 {
      font-size: rem-calc(28);
      line-height: 1.3em;
      text-align: center;

      a {
        display: inline-block;
      }
    }

    ol {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    p.more {
      text-align: center;
    }
  }
}


#form-name .errorlist, #form-postcode .errorlist {
  list-style: none;
  color: $error-text-color;
}
