.womble_tag {
  background-color: #8e8b87;
  padding:0.3em 0.6em;
  border: 1px solid #4e4e4e;
  margin:0.3em;
  color:white;
  border-radius: 10px;
  line-height: 2.5em;
}

.womble_tag.superwomble {
  background-color: #EC008C;
}
