@import "foundation/functions";

$color-orange: #f97d3d;
$color-red: #c55e59;
$color-gold: #ba9f50;
$color-blue: #085184;
$color-cyan: #029db9;
$color-teal: #09a691;
$color-offwhite: #ece7e1;
$color-cream: #e4dfdb;
$color-yellow: #fdf2d5;

$header-background-color: $color-teal;
$body-background-color: mix($color-offwhite, #fff, 60%);
$footer-text-color: mix($color-offwhite, #000, 60%);
$content-background-color: #fff;

$muted-text-color: darken($color-cream, 20%);

$message-background-color: #FDF2D5; // lighter version of $color-gold
$message-border-color: lighten($color-gold, 30%);

$highlight-background-color: $color-yellow;
$information-background-color: mix($color-cyan, #fff, 15%);
$danger-background-color: mix($color-red, #fff, 15%);

$confirmation-background-color: $color-yellow;
$error-background-color: mix($color-red, #fff, 15%);
$error-text-color: darken($color-red, 10%);
$error-border-color: mix($color-red, #fff, 30%);
$error-input-border-color: mix($color-red, #fff, 40%);

$candidate-order-color: #fff;
$candidate-order-background-color: $color-cyan;
$avatar-background-color: #ddd;

$unknown-candidate-status-color: $color-orange;
$not-standing-candidate-status-color: $color-red;

$homepage-description-background-color: $body-background-color;
$homepage-description-text-color: #887; // dark desaturated browny-grey
$homepage-activity-color: $color-cyan;
$homepage-leaderboard-color: $color-gold;

// Override Foundation variables here
$primary-color: $color-cyan;
$secondary-color: $color-cream;
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(14);
$button-radius: 3px;
$code-font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;

$high_dpi_screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

@import "normalize";
@import "foundation";

@import "mixins";

@import "header";
@import "content";
@import "footer";
@import "forms";

@import "finder";
@import "people";
@import "versions";
@import "parties";
@import "person_edit";
@import "leaderboards";
@import "search";
@import "data_timeline";
@import "accounts";
@import "wombles";
@import "ds-filter";
@import "ds-checkbox";

table.table {
  width:100%;
}

table.table caption {
  text-align: left;
}

tbody + tbody {
  border-top:1px solid #DDD;

  &:before {
    content: '';
    display: block;
    height: 2em;
  }
}

details > summary {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}


// API docs

table.api_defs td, table.api_defs th {
  font-size:0.9rem;
  vertical-align: top;
}

table.api_defs p {
  margin:0;
  font-size:0.9rem;
}

table.api_defs p + p {
  margin:1em 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters > div {
  flex: 1 0 15em;
}

.filters .advance_filters {
  text-align: right;
  font-size:0.8em;
  flex: 1;
}


.filters .selected {
  font-weight:bold;
  text-decoration: underline;
}

.filters p {
  margin: 1em 0 0 0;
}
.filters p label {
  font-weight: bold;
}

.filters .filter_links {
  border-bottom: 1px solid #4e4e4e;
}

.filters ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

.filters ul li {
  display: block;
  margin: 0 0 0 1em;

}

.cta-list {
  margin:0;
  padding:0;
  list-style-type: none;
}

.cta-list li {
  margin:0;
  padding:0;
}





/* ------- PARL 24 -----*/


        :root {
            --party-colour-default: lightgray;
        }

        .party.party-colour-pp90 {
            border-left-color: #FAA61A;
        }

        .party.party-colour-pp7931 {
            border-left-color: #00b1da;
        }

        .party.party-colour-pp52 {
            border-left-color: #0087DC;
        }

        .party.party-colour-pp63 {
            border-left-color: #00643b;
        }

        .party.party-colour-pp12700 {
            border-left-color: #005eb8;
        }

        .party.party-colour-pp130 {
            border-left-color: #00b140;
        }

        .party.party-colour-pp102 {
            border-left-color: #fdf38e;
        }

        .party.party-colour-pp53,
        .party.party-colour-joint-party53-119 {
            border-left-color: #E4003B;
        }

        .ballot + .ballot {
            margin-top: 2em;
        }

        form .submit {
            margin-top: 1em;
            margin-left: 2em;
        }

        .party {
            display: block;
            border-left: 1em solid var(--party-colour-default);
            padding: 0.5em;
        }

        .party_select_form ul {
            list-style-type: none;
            margin: 0;
        }

        .party_select_form ul li label:before {
            content: "";
            position: absolute;
            left: -2em;
            top: 0.5em;
            border-radius: 50%;
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            border: 2px solid #403F41;
        }

        .party_select_form ul li label:has(input[type="radio"]:checked):before {
            background-color: black;
            box-shadow: inset 0 0 0 0.25rem #fff;
        }

        .party_select_form ul li {
            position: relative;
            margin-left: 2em;
        }

        .party_select_form ul li p {
            padding: 0;
            margin: 0;
        }

        .party_select_form ul li label {

            padding-left: 1em;
        }

        .party_select_form ul li input {
            display: none;
        }

        .party_select_form ul li:has(input[type="radio"]:checked) {
            border-color: black;
            font-weight: bold !important;
        }

        .party_select_form ul li:has(input[type="radio"]:checked) * {
            font-weight: bold !important;
        }

        .party_select_form ul li {
            border: 1px solid lightgrey;
        }

        .party_select_form ul li + li {
            margin-top: 1em;
        }

        .elected_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .elected_container .party {
            flex: 1;
            margin-right: 10px;
        }

        .elected_container button {
            flex-shrink: 0;
        }
