{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{% endblock %}

{% block title %}{% trans "Recent changes to the candidate database" %}{% endblock %}

{% block hero %}
  <h1>{% trans "Recent Changes" %}</h1>
{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Date and time" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Candidate edited" %}</th>
            <th>{% trans "Information source" %}</th>
            <th>{% trans "Review" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for action in actions %}
        <tr>
            <td>{{ action.user.username }}</td>
            <td>{{ action.created }}</td>
            <td>{{ action.action_type }}</td>
            {% if action.person %}
            <td><a href="{% url 'person-view' person_id=action.person.id %}">{{ action.person.name }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ action.source }}</td>
            <td>
                <form method="post" action="{% url 'mark-change-as-reviewed' %}">
                    {% csrf_token %}
                    <input type="hidden" name="person_id" value="{{ action.person.id }}"/>
                    <input type="hidden" name="logged_action_id" value="{{ action.id }}"/>
                    <input type="submit" value="Mark as reviewed">
                </form>
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if actions.has_previous %}
            <a href="?page={{ actions.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans with n=actions.number num=actions.paginator.num_pages %}Page {{ n }} of {{ num }}.{% endblocktrans %}
        </span>

        {% if actions.has_next %}
            <a href="?page={{ actions.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}
