

{% if new_person %}
    Thank-you for adding <a href="{{ person_url }}">{{ person_name }}</a>!
{% else %}
    Thank-you for updating <a href="{{ person_url }}">{{ person_name }}</a>!
{% endif %}

Now you can carry on to:

<ul>
  <li>
      <a href="{{ person_edit_url }}">Edit {{ person_name }} again</a>
  </li>
  <li>
      Add a candidate for <a href="{{ needing_attention_url }}">one of the
      posts with fewest candidates</a>
  </li>
  {% for person_create_url, election_name in create_for_election_options %}
    <li>
        <a href="{{ person_create_url }}">Add another candidate in the {{ election_name }}</a>
    </li>
  {% endfor %}
</ul>
