{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}constituencies{% endblock %}

{% block title %}{% blocktrans trimmed with election_name=election_data.name %}
   Candidates by post for the {{ election_name }}
{% endblocktrans %}{% endblock %}

{% block hero %}<h1>{% blocktrans trimmed with election_name=election_data.name %}
  All posts in the {{ election_name }}
{% endblocktrans %}</h1>{% endblock %}

{% block content %}

<p>Posts in the {{ election_data.name }}</p>

<a href="{{ MEDIA_URL }}candidates-{{ election_data.slug }}.csv" class="button small">
  Download CSV of all candidates in the {{ election_data.name }}
</a>

<a href="{% url "bulk_add_party_select" election_data.slug %}" class="button small">
    Add candidates for a single party</a>

{% for postextraelection in all_constituencies %}
  <h3>
    <a href="{{ postextraelection.get_absolute_url }}">{{ postextraelection.post.label }}</a>
    {{ postextraelection.cancelled_status_html }}
    {{ postextraelection.locked_status_html }}
  </h3>
  <p>
    {% if postextraelection.winner_count %}
      {{ postextraelection.winner_count }} seat{{ postextraelection.winner_count|pluralize }} up for election.
    {% endif %}
    {{ postextraelection.membership_set.count }} candidates known.
  </p>

  {% if postextraelection.membership_set.exists %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Party</th>
        {% if postextraelection.resultset %}
        <th>Votes</th>
        <th>Elected?</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for membership in postextraelection.membership_set.all %}
      <tr>
        <td><a href="{{ membership.person.get_absolute_url }}">{{ membership.person.name }}</a></td>
        <td>{{ membership.party.name }}</td>
        {% if postextraelection.resultset %}
        <td>{{ membership.result.num_ballots }}</td>
        <td>{{ membership.result.is_winner|yesno|title }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if not postextraelection.cancelled %}
    <a class="show-new-candidate-form button tiny" href="{{ postextraelection.get_absolute_url }}">Add candidates</a>
    {% if postextraelection.election.in_past %}
      {% if postextraelection.resultset %}
      <a class="button tiny" href="{% url "ballot_paper_results_form" postextraelection.ballot_paper_id %}">Edit Results</a>
      {% else %}
      <a class="button tiny" href="{% url "ballot_paper_results_form" postextraelection.ballot_paper_id %}">Add Results</a>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}


{% endblock %}
