{% extends "base.html" %}

{% block content %}

  {% if error %}
    <h1><a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h1>
    <h2>Error Merging</h2>
    <p>Sorry, something went wrong. The error message was:</p>
    <p><code>{{ error }}</code></p>

  {% else %}
    <h1>Merge Suggestion</h1>
    <h2>You are suggesting:</h2>

    <p>You are suggesting <strong>{{ other_person.name }}</strong> is a duplicate of <strong>{{ person.name }}</strong>.</p>
    <!-- TODO add some details to help comparison -->
    <p>Would you like to proceed?</p>

    <form method="post" id="{{ SUGGESTION_FORM_ID }}">
      {% csrf_token %}
      <input id="other_person_id" name="other_person_id" type="hidden" value="{{ other_person.pk }}">
      <button class="button primary" type="submit">Suggest</button>
    </form>

      {% if user_can_merge %}
        <h3>You have permission to merge these people directly</h2>
        <p>Click the merge button below to merge instantly rather than create a duplicate suggestion</p>
        <form method="post" action="{% url 'person-merge' person_id=person.id %}" id="{{ MERGE_FORM_ID }}">
          {% csrf_token %}
          <input id="other_id" name="other" type="hidden" value="{{ other_person.pk }}">
          <button class="button alert" type="submit">Merge</button>
        </form>
      {% endif %}

    {% endif %}


{% endblock %}