{% extends "base.html" %}
{% block content %}
  {% if error_message %}
  <h1><a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h1>
  <h2>Error Merging</h2>
  <p>Sorry, something when wrong when merging. The error message was:</p>
  <p><code>{{ error_message }}</code></p>
  {% endif %}

  <form class="person__actions__action person__actions__merge" id="person-merge" action="{% url 'person-merge' person_id=person.id %}" method="post">
    {% csrf_token %}
    <h2>Is this a duplicate person?</h2>
    <p>
      <label for="other">Merge another person into this one:</label>
      <input id="other" name="other" placeholder="Other person ID" type="text" value="{{ other_person_id }}">
    </p>
    <input type="submit" class="button alert" value="Merge people">
  </form>

{% endblock %}
