{% extends 'base.html' %}


{% block body_class %}{% endblock %}

{% block title %}Top Users{% endblock %}

{% block hero %}
  <h1>Top Users</h1>
{% endblock %}

{% block content %}


<div class="row">
  <p>Since the 4 July 2024 General Election announcement, we've had {{num_new_users}} new users sign up to help crowdsource election data.
  {% for leaderboard in leaderboards %}

    <div class="leaderboard" id="{{ leaderboard.title|slugify }}">
      <h2>{{ leaderboard.title }}</h2>
      <table>
        <tr>
          <th>User</th>
          <th>Number of edits</th>
        </tr>
        {% for row in leaderboard.rows %}
          <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.edit_count }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  {% endfor %}
</div>

{% endblock %}
