{% extends 'base.html' %}


{% load static %}

{% block body_class %}person-othernames-list{% endblock %}

{% block title %}Other names for {{ person.name }}{% endblock %}

{% block content %}

  <h1>Other names for <a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h1>

  {% if othername_list %}
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for other_name in othername_list %}
      <tr>
        <td><strong>{{ other_name.name }}</strong></td>
        <td>{{ other_name.note }}</td>
        <td>
          <a class="button tiny secondary" href="{% url 'person-other-name-update' pk=other_name.id person_id=person.id %}">
              Edit
            </a>
            <a class="button tiny js-toggle-source-confirmation delete-other-name">Delete</a>

            <div class="source-confirmation source-confirmation-delete-other-name">
            <form
              method="post"
              action="{% url 'person-other-name-delete' pk=other_name.id person_id=person.id %}"
              id="other-name-delete-reason-{{ other_name.id }}"
            >
              {% csrf_token %}
              <label for="id_source">Before we delete this other name, can you tell us how you know it's not valid? {{ settings.SOURCE_HINTS }}</label>
              <input type="text" name="source" id="id_source" maxlength="512" required="required"/>
              <input type="submit" class="button expand" value="Delete other name" />
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>No alternative names found</p>
  {% endif %}

  <a class="button" href="{% url 'person-other-name-create' person_id=person.id %}">Add another name</a>

{% endblock %}
