{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}party-list{% endblock %}

{% block title %}{% blocktrans trimmed with election_name=election_data.name %}
  All parties eligible for the {{ election_name }}
{% endblocktrans %}{% endblock %}

{% block hero %}
  <h1>{% trans "All Parties" %}</h1>
{% endblock %}

{% block content %}

<h2>{% blocktrans with election_name=election_data.name %}All parties with any candidates standing in {{ election_name }}{% endblocktrans %}</h2>

<ul class="party-list">
  {% for party in parties %}
    <li><a href="{% url 'party' election=election legacy_slug=party.legacy_slug ignored_slug=party.name|slugify %}">{{ party.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
