{% extends "base.html" %}

{% block title %}{{ post_type }}{% endblock %}


{% block hero %}
  <h1>{{ post_type }}</h1>
{% endblock %}


{% block content %}
<p>This page lists all the "posts" this site knows about.</p>
<p>It exists for legacy reasons and will be removed soon. If you have bookmarked
  this page you should delete it or if this is a useful page
  then you should <a href="https://democracyclub.org.uk/contact">get in touch</a>
  to explain why you want to use it.</p>
<p>It's possible that you might find our <a href="https://elections.democracyclub.org.uk">
  elections</a> site useful for lists of places that have elections.</p>
<ul>
  {% for post in posts %}
    <li>
      {{ post }} (<code>{{ post.slug }}</code>)
    </li>
  {% endfor %}
</ul>
{% endblock content %}
