{% extends 'base.html' %}
{% load humanize %}

{% block body_class %}{% endblock %}

{% block title %}Recent changes to the candidate database{% endblock %}

{% block hero %}
  <h1>Recent Changes</h1>
{% endblock %}

{% block content %}
<section class="filters">
  <div>
    <dl class="sub-nav" role="menu" title="Filters">
      <dt>Filter:</dt>
      <dd {% if request.get_full_path == "/recent-changes" %}class="active" {% endif %}><a href="{% url "recent-changes" %}">All</a></dd>
    {% for shortcut in shortcuts.list %}
      <dd {% if shortcut.active %}class="active" {% endif %}><a href="{% url "recent-changes" %}?{{ shortcut.querystring }}">{{ shortcut.label }}</a></dd>
    {% endfor %}
    </dl>

  </div>
  <div>
      <details class="advance_filters" {% if filter.data %}open{% endif %}>
        <summary>Advanced filters</summary>
        <div class="filter_links">
          <form>
            {{ filter.form.as_p }}
            <button type="submit">Filter</button>
          </form>

        </div>
      </details>
    </div>
<script>
    $('#id_action_type').select2({
        width: 400,
    })
</script>
</section>
<style>
.recent-changes td {
  vertical-align: top;
}
.recent-changes th:first-child {
  width: 10%;
}
</style>
<table class="table recent-changes">
  <tr>
    <th>User</th>
    <th>Date and time</th>
    <th>Action</th>
    <th>Candidate edited</th>
    <th>Information source</th>
    <th>Needs review?</th>
  </tr>
  {% for action in actions %}
    <tr>
      <td>
        <a href="{% url "recent-changes" %}?username={{ action.user.username }}" title="Filter by this user only">
          {{ action.user.username }}
        </a>
      </td>
      <td>{{ action.created|naturaltime }}</td>
      <td>{{ action.action_type }}</td>
      {% if action.person %}
        <td><a href="{% url 'person-view' person_id=action.person.id %}">{{ action.person.name }}</a></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ action.source }}</td>
      <td>{{ action.flagged_reason|default_if_none:"" }}</td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if actions.has_previous %}
            <a href="{% url "recent-changes" %}?username={{ action.user.username }}&amp;page={{ actions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ actions.number }} of {{ actions.paginator.num_pages }}
        </span>

        {% if actions.has_next %}
            <a href="{% url "recent-changes" %}?username={{ action.user.username }}&amp;page={{ actions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
