{% extends 'base.html' %}
{% load humanize %}
{% load get_query %}

{% block body_class %}{% endblock %}

{% block title %}Recent changes to the candidate database{% endblock %}

{% block hero %}
  <h1>Recent Changes</h1>
{% endblock %}

{% block content %}

  <style>
      .recent-changes td {
          vertical-align: top;
      }
      .recent-changes th:first-child {
          width: 10%;
      }
  </style>
  <aside class="ds-filter" aria-labelledby="filter-label" style="margin-bottom: 2em;">
    <div class="ds-filter-cluster">
      <ul>
        <li id="filter-label" class="ds-filter-label" aria-hidden="true">Filter:</li>
        <li><a href="{% url "recent-changes" %}" {% if request.get_full_path == "/recent-changes" %}aria-current="true" {% endif %}>All</a></li>
        {% for shortcut in shortcuts.list %}
          <li><a href="{% url "recent-changes" %}?{{ shortcut.querystring }}" {% if shortcut.active %}aria-current="true" {% endif %}>{{ shortcut.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <form>
    <details {% if filter.data %}open=""{% endif %}>
      <summary>Advanced filters</summary>
      <div class="ds-advanced-filters">
        <div class="ds-filter-cluster">

          {% for field in filter.form %}
            <ul aria-labelledby="adv-filter-label-{{ forloop.counter }}">
              <li id="adv-filter-label-{{ forloop.counter }}" class="ds-filter-label" aria-hidden="true">{{ field.label }}:</li>
              {{ field }}
            </ul>
          {% endfor %}


        </div>
      </div>
      <button type="submit" class="button">Filter</button>
    </details>
    </form>
  </aside>


<table class="table recent-changes">
  <tr>
    <th>User</th>
    <th>Date and time</th>
    <th>Action</th>
    <th>Candidate edited</th>
    <th>Information source</th>
    <th>Needs review?</th>
  </tr>
  {% for action in actions %}
    <tr>
      <td>
        <a href="{% url "recent-changes" %}?username={{ action.user.username }}" title="Filter by this user only">
          {{ action.user.username }}
        </a>
      </td>
      <td>{{ action.created|naturaltime }}</td>
      <td>{{ action.get_action_type_display }}</td>
      {% if action.person %}
        <td><a href="{% url 'person-view' person_id=action.person.id %}">{{ action.person.name }}</a></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ action.source }}</td>
      <td>{{ action.flagged_reason|default_if_none:"" }}</td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if actions.has_previous %}
          <a href="{% query_string request.GET page=actions.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ actions.number }} of {{ actions.paginator.num_pages }}
        </span>

        {% if actions.has_next %}
          <a href="{% query_string request.GET page=actions.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
