{% extends 'base.html' %}

{% load thumbnail %}

{% block body_class %}{% endblock %}

{% block title %}Uploaded photos for review{% endblock %}

{% block hero %}
  <h1>Uploaded photos for review</h1>
{% endblock %}

{% block content %}

  <!-- filter form TODO improve UI -->
  <form>
    {{ filter_obj.form.as_p }}
    <button type="submit">Submit</button>
  </form>

  {% if object_list %}
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Date uploaded</th>
          <th>Uploading user</th>
          <th>Candidate ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for queued_image in object_list %}
        <tr>
          <td>
          {% thumbnail queued_image.image "x200" as im %}
            <a href="{% url 'photo-review' queued_image_id=queued_image.id %}"><img src="{{ im.url }}"></a>
          {% endthumbnail %}
          </td>
          <td>{{ queued_image.created }}</td>
          <td>{% if queued_image.user %}{{ queued_image.user.username }}{% else %}a robot 🤖{% endif %}</td>
          <td>{{ queued_image.person.id }}</td>
          <td><a href="{% url 'photo-review' queued_image_id=queued_image.id %}">Review</a></td>
        </tr>
      {% endfor %}
      <tbody>
    </table>
  {% else %}
    <p><strong>Congratulations!</strong> There are no more photos to review.</p>
  {% endif %}

{% endblock %}
