{% extends "base.html" %}
{% block content %}
<h1>Posts that have a SOPN and no lock suggestions</h1>
<p>For each of these, we need someone to look at the document and manually add or remove candidates
    to make our list exactly the same as the SOPN.</p>
<p>One you're happy that our list is correct, please 'suggest locking', and someone else will double check it.</p>


{% regroup object_list by officialdocument_set.first.source_url as pee_list %}

{% for nomination_paper_with_pees in pee_list %}

  {% with nomination_paper_with_pees.list.0.officialdocument_set.first as nomination_paper %}
  <a href="{{ nomination_paper.get_absolute_url }}">
    <p><strong>Nomination paper for {{ nomination_paper.post_election.election.name }}</strong></p>
  </a>
  {% endwith %}

  <ul>
  {% for postextraelection in nomination_paper_with_pees.list %}
      <li>

      <a href="{{ postextraelection.get_absolute_url }}">
          {{ postextraelection.postextra.base.label }}
      </a>
      <a href="{% url "bulk_add_from_sopn" postextraelection.election.slug postextraelection.postextra.slug %}" class="button tiny">
          Add candidates from nomination paper</a>
      </li>
  {% endfor %}
  </ul>


{% endfor %}

{% endblock content %}
