{% extends "base.html" %}
{% load pipeline %}
{% load staticfiles %}
{% load humanize %}
{% block hero %}
  <h1>Ballots with lock suggestions</h1>
{% endblock %}
{% block extra_css %}
  {% stylesheet 'official_documents' %}
  <style>
    .container {
      max-width: 100%;
    }
  </style>
{% endblock %}

{% block content %}

<script src="{% static "official_documents/js/pdf.2.0.943.js" %}"></script>
<script src="{% static "official_documents/js/pdf.worker.2.0.943.js" %}"></script>
{% javascript 'sopn_viewer' %}
{% include "moderation_queue/includes/ajax_lock_button_js.html" %}



{% if ballots %}
  <p>Suggestions are grouped by nomination paper</p>
  <p>Showing {{ ballots.count }} of {{ total_ballots|intcomma }} ballots with suggested locks. Reload this page to get another random set.</p>

  {% regroup ballots by officialdocument_set.first.source_url as ballots_by_doc_source %}

  {% for ballots_by_source in ballots_by_doc_source  %}
    <h3>{{ ballots_by_source.list.0.election.name }}</h3>

    <p>
      Source: {{ ballots_by_source.grouper|default_if_none:"No source"|urlize }}
    </p>

    {% for ballot in ballots_by_source.list %}

          <h4>
              <a href="{{ ballot.get_absolute_url }}">
                {{ ballot.post.short_label }}
              </a>
          </h4>

          {% if ballot.membership_set.exists %}
            <table style="width:100%">
            <thead>
              <th>Candidates</th>
              <th>SOPN</th>
            </thead>
            <tbody>
              {% include "moderation_queue/includes/inline-lock-table-view.html" with ballot=ballot %}
            </tbody>
            </table>

          {% endif %}


    {% endfor %}
  {% endfor %}




{% else %}
  All ballots with lock suggestions have been locked! (not including your own lock suggestions)
{% endif %}




{% endblock content %}
