{% extends "base.html" %}

{% block content %}
<h1>Posts with lock suggestions</h1>
{% if not test_pdf_view %}
<p>
  <strong>New!</strong>: Try out an experimental feature of putting PDFs alongside the tables.
  We know it doesn't work in all cases, but it makes reviewing quicker in the simple cases.
</p>
<a class="button tiny" href="?pdfembed=1">Embed PDFs</a>
{% else %}
<style>
  .content .container {
    max-width:100% !important;
    width:90em !important;
  }
</style>
{% endif %}

{% include "moderation_queue/includes/ajax_lock_button_js.html" %}

{% if other_suggestions %}
  <h2>Suggestions to review</h2>
  {% include "moderation_queue/includes/lock_suggestions.html" with post_elections=other_suggestions show_lock_button=1%}
{% endif %}

{% if my_suggestions %}
  <h2>My own lock suggestions</h2>
  <p>Someone else needs to review these:</p>
  {% include "moderation_queue/includes/lock_suggestions.html" with post_elections=my_suggestions %}

{% endif %}



{% endblock content %}
