{% extends "api/api-base.html" %}
{% load get_query %}
{% load data_field_value %}
{% block api_content %}
    <p>
        This page allows downloading CSV exports of our data.
        Please see the <a href="{% url "api-terms" %}">terms page</a> for usage terms.
    </p>
    <p>Although the data is free to use under the terms, we would love to know what you're planning to use it for
        and are happy to answer any questions you might have. <a href="https://democracyclub.org.uk/contact/">
            Please get in touch</a>!</p>
    <p>For more download options, please see the <a href="{% url "data_custom_builder" %}">advanced CSV builder</a>.</p>
    <p>Please note this data is currently updated every minute.</p>

    <h2>Scheduled elections</h2>
    {% for charismatic_election in charismatic_elections %}
                {% include "data_exports/_data_shortcut_form.html" with title=charismatic_election.title election_date=charismatic_election.election_date election_type=charismatic_election.election_type %}
    {% endfor %}

    <h2>Other downloads</h2>
    {% for special_report in special_reports %}
        {% include "data_exports/_data_shortcut_form.html" with election_date=special_report.election_date title=special_report.title election_type=special_report.election_type only_by_elections=special_report.only_by_elections %}
    {% endfor %}

{% endblock %}
