{% extends "api/api-base.html" %}
{% load get_query %}
{% load data_field_value %}
{% block api_content %}
    <p>
        This page allows downloading CSV exports of our data.
        Please see the <a href="{% url "api-terms" %}">terms page</a> for usage terms.
    </p>
    <p>Although the data is free to use under the terms, we would love to know what your planning to use the data
        and are happy to answer any questions you might have. <a href="https://democracyclub.org.uk/contact/">
            Please get in touch</a>!</p>
    <p>Please note this data is currently updated every minute.</p>
    <form action="" method="get">

        <aside class="ds-filter">
            <details {% if filter_set.data %}open=""{% endif %}>
                <summary>Filters</summary>
                <div class="ds-advanced-filters">
                    <div class="ds-filter-cluster">

                        {% for field in filter_set.form %}
                            <ul aria-labelledby="adv-filter-label-{{ forloop.counter }}">
                                <li id="adv-filter-label-{{ forloop.counter }}" class="ds-filter-label"
                                    aria-hidden="true">
                                    {{ field.label }}:
                                    {{ field }}
                                </li>

                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <p>To filter on other fields, please select them from the 'additional fields' section below, press the
                    filter button and the filters will appear here. Currently only boolean (yes/no) filters are supported for additional fields.</p>
            </details>

            <details>
                <summary>Additional fields</summary>

                {% for group_name, fields in csv_fields.items %}
                    <h3>{{ group_name|title }}</h3>
                    <label>
                        <input type="checkbox" name="field_group" id="id_{{ group_name }}" value="{{ group_name }}"
                               {% if group_name in request.GET.field_group %}checked{% endif %} class="group_checkbox">
                        All {{ group_name }} fields

                    </label>
                    <ul>
                        {% for field_name, field in fields %}
                            <li>
                                <label for="id_{{ field_name }}">
                                    <input type="checkbox" name="extra_fields" id="id_{{ field_name }}"
                                           value="{{ field_name }}"
                                           {% if field_name in headers %}checked="checked"{% endif %}
                                           data-group="{{ field.value_group }}">
                                    {{ field.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>



                {% endfor %}
                <script>
                    function disable_for_group(element) {
                        let checked = element.checked;
                        var group_sub_options = document.querySelectorAll(`input[data-group=${element.value}]`);
                        if (checked) {
                            group_sub_options.forEach(function (el) {
                                el.disabled = true;
                            })
                        } else {
                            group_sub_options.forEach(function (el) {
                                el.disabled = false;
                            })
                        }
                    }

                    let group_checkboxes = document.querySelectorAll("input[type=checkbox][class=group_checkbox]");
                    group_checkboxes.forEach(function (el) {
                        el.addEventListener("click", function (event) {
                            disable_for_group(event.target);
                        })
                        disable_for_group(el);
                    })
                    // Initially disable/enable without changing the checked state of the sub-options
                    var group_sub_options = document.querySelectorAll(`input[data-group=${el.value}]`);
                    if (el.checked) {
                        group_sub_options.forEach(function (sub_el) {
                            sub_el.disabled = true;
                        });
                    } else {
                        group_sub_options.forEach(function (sub_el) {
                            sub_el.disabled = false;
                        });
                    }

                </script>
            </details>
        </aside>

        <p style="margin-top:1em">
            <button type="submit" class="button">Filter</button>
            <a class="button" href="{% url "data_export" %}{% query_string request.GET format='csv' %}">Download CSV</a>
        </p>


    </form>
    <div style="overflow-x: scroll; max-width: 100%">


        <table>
            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for obj in page_obj %}
                <tr>
                    {% for header in headers %}
                        <td>{% data_cell header obj %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <p class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% query_string request.GET page=1 %}">&laquo; first</a>
                <a href="{% query_string request.GET page=page_obj.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

            {% if page_obj.has_next %}

                <a href="{% query_string request.GET page=page_obj.next_page_number %}">next</a>
                <a href="{% query_string request.GET page=page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </p>
    </div>

    <p>
        <a class="button" href="{% url "data_export" %}{% query_string request.GET format='csv' %}">Download CSV</a>
    </p>

{% endblock %}
