{% load humanize %}
<table class="table aggregatable" data-markdown="{{ report.as_markdown }}" data-csv="{{ report.as_csv }}">
    <thead>
    <tr>
        <th>Ballot</th>
        <th>Candidates</th>
        <th>Per seat</th>
    </tr>
    </thead>
    <tbody>
    {% for row in report.head.iterrows %}
        <tr>
            <td><a href="{% url "election_view" election=row.1.ballot_paper_id %}">{{ row.1.ballot_paper_id }}</a></td>
            <td>{{ row.1.candidates }}</td>
            <td>{{ row.1.per_seat }}</td>
        </tr>
    {% endfor %}
    {% for row in report.tail.iterrows %}
        <tr class="report-tail">
            <td><a href="{% url "election_view" election=row.1.ballot_paper_id %}">{{ row.1.ballot_paper_id }}</a></td>
            <td>{{ row.1.candidates }}</td>
            <td>{{ row.1.per_seat }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
