{% extends "base.html" %}
{% load pipeline %}

{% block title %}Add candidates from nomination paper{% endblock %}

{% block extra_css %}
{% stylesheet 'bulk_adding' %}
{% endblock %}

{% block extra_js %}
{% javascript 'bulk_adding' %}
{% endblock %}


{% block content %}
<h1>{{ election_obj.name }}: {{ post.label }}</h1>
<h2>Review candidates</h2>
  {% if official_document %}
  <a href="{{ official_document.get_absolute_url }}" target="_blank" class="button tiny">Nomination paper (SoPN)</a>
  {% endif %}
  {% if ballot.rawpeople.source_type == "council_csv" %}
    <div class="panel">
    <h4>Good news!</h4>
    <p>This candidate data below has been provided to us by the council directly. This means we trust it to
    be correct, but it still needs checking to see if the candidates have stood in the
    past, and to make sure the names are correctly formatted.</p>
    </div>

  {% endif %}
<p>We might already have a profile for some of these candidates from previous elections.</p>
<p>If you think someone has stood before, please select them from the tables below. If in doubt,
  just select "create a new person".</p>
<p>Alternatively you can <a href="{% url "bulk_add_from_sopn" election post.slug %}?edit=1">edit these candidates</a>.</p>

{% include "bulk_add/sopns/_known-people.html" %}


<form method=POST>
  {% csrf_token %}
  {{ formset.management_form }}
  {% if formset.non_form_errors %}
    <div class="errorlist">
      {% for error in formset.non_form_errors %}
        <p>{{ error }}</p>
      {% endfor %}

    </div>
  {% endif %}
  {% for form in formset %}
    {% if form.name.value %}
      <div>

        <h3 style="clear:left;">{{ form.name.value }}</h3>
        <h4><em>“{{ form.party_description.value }}”</em></h4>
        <table class="table sopn_adding_suggestions_table">
          <thead>
            <th>Action</th>
            <th>Recent previous candidacies</th>
          </thead>
          <tbody>
            {% for choice in form.select_person %}
              <tr {% if choice.data.value == '_new' %}class="selected_action"{% endif %}>
                <td class="multiple-choice" style="margin-left:1em">
                  {{ choice.tag }}
                  {% if choice.data.value == '_new' %}
                    <label>Add a new profile "{{ form.name.value }}"</label>
                  {% else %}
                    <label>Same as
                      <a href="{{ choice.choice_label.object.get_absolute_url }}"
                         target="_blank">{{ choice.choice_label.name }}</a></label>
                  {% endif %}
                </td>
                <td>
                  {% for candidacy in choice.choice_label.previous_candidacies %}
                    <li>{{ candidacy }}</li>
                  {% endfor %}

                </td>
              </tr>
            {% endfor %}
            {{ form.name }}
            {{ form.source }}
            {{ form.party }}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}

  <p style="clear:left; padding-top:1em">
    <input type="checkbox" name="suggest_locking" id="suggest_locking" checked>
    <label for="suggest_locking">Suggest locking this area – check this box if you
      are confident that this area is complete as per an official document</label>
  </p>
  <button type=submit>Next</button>
</form>

  <script>
  $('.sopn_adding_suggestions_table tr').click(function() {
      var row = $(this);
    $("tr").removeClass("selected_action", function() {
        row.addClass("selected_action");
        row.find('td input[type=radio]').prop('checked', true);
    });


  });

  </script>

{% endblock content %}

