<p>
    No text or party logos may be included in the photo, unless an unavoidable
    part of the background or a small rosette/badge that doesn’t interfere with
    the rule above. Any photo containing party text or logos should be replaced
    by a plain photo whenever one is available.
</p>
<p>
The photo must also meet one of the following criteria:
 - Free of copyright (with a source confirming this).
 - Supplied directly by the candidate or their agent to Democracy Club.
 - Published by the candidate, their agent, or their party for election purposes. This can include media handouts lifted from news articles, as long as the article is clear about the source.
 - Photo of elected representative sourced from council or other authority website.
</p>
<p>
If you are supplying a link to the source, please ensure that one of the above criteria is clearly met. If in doubt, please provide more information as part of the source field.
</p>
<p>
Photos will be rejected if the source is unclear or clearly not related to an election (eg. profile photos from work).
</p>
