<tr>
  <td>
    Suggested by<br>
      {% for spl in ballot.suggestedpostlock_set.all %}
        {{ spl.user }}{% if spl.justification %}: {{ spl.justification }}{% endif %}<br>
      {% endfor %}

    <table style="width:30em;">
      <caption><strong>{{ ballot.membership_set.count }} people</strong></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Party</th>
        </tr>
      </thead>
      <tbody>
        {% for membership in ballot.membership_set.all|dictsort:"person.last_name_guess"%}
        <tr>
          <td><a href="{{ membership.person.get_absolute_url }}">{{ membership.person.name }}</a></td>
          <td>{{ membership.party }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "moderation_queue/includes/ajax_lock_button_html.html" with postextraelection=ballot %}
  </td>
  <td>
    {% if ballot.sopn %}
        <strong><a href="{{ ballot.sopn.get_absolute_url }}" target="_blank" class="button secondary tiny">
            View the SOPN in a new window</a></strong>
        <div id="sopn-{{ ballot.ballot_paper_id }}" class="pdf_container" style="max-width:100% !important; width: 100% !important;"></div>
        <script>
          {% if ballot.sopn.relevant_pages %}
          SOPN_VIEWER.ShowSOPNInline(
            '{{ ballot.sopn.uploaded_file.url }}',
            '{{ ballot.ballot_paper_id }}',
            {
            {% if ballot.sopn.relevant_pages and ballot.sopn.relevant_pages != "all"%}
              'start_page': {{ ballot.sopn.first_page_number }},
              'end_page': {{ ballot.sopn.last_page_number }}
            {% endif %}
            }
          )
          {% endif %}
        </script>
      {% else %}
        No SOPN uploaded
      {% endif %}
  </td>
</tr>
