{% if SHOW_BY_ELECTION_CTA %}
    <h2>By-elections</h2>

    {% if upcoming_pees %}
    <h3>Upcoming elections</h3>
    <table>
        <thead>
        <tr>
            <th>Election</th>
            <th>Area</th>
            {% if request.user.is_authenticated %}
                <th>Candidates known</th>
                <th>Locked?</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for pee in upcoming_pees %}
                {% ifchanged pee.election.election_date %}
                    <tr>
                        <th colspan="2">{{ pee.election.election_date }}</th>
                    </tr>
                {% endifchanged %}

                <tr>
                    <td><a href="{{ pee.election.get_absolute_url }}">{{ pee.election }}</a></td>
                    {% if pee.cancelled %}
                      <td>
                        {{ pee.post.label }}
                        {{ pee.cancelled_status_html }}
                      </td>
                    {% else %}
                      <td><a href="{{ pee.get_absolute_url }}">{{ pee.post.label }}</a></td>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <td>
                        {{ pee.membership_set.count|default:"0" }}
                    </td>
                    <td>
                        {% if pee.locked_status_html %}
                          {{ pee.locked_status_html }}
                        {% else %}
                          No
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if past_pees %}
    <h3>Recently past elections</h3>
    <table>
        <thead>
        <tr>
            <th>Election</th>
            <th>Area</th>
            {% if request.user.is_authenticated %}
            <th>Results?</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for pee in past_pees %}
        {% ifchanged pee.election.election_date %}
            <tr>
                <th colspan="2">{{ pee.election.election_date }}</th>
            </tr>
        {% endifchanged %}
            <tr>
                <td><a href="{{ pee.election.get_absolute_url }}">{{ pee.election }}</a></td>
                {% if pee.cancelled %}
                  <td>
                    {{ pee.post.label }}
                    {{ pee.cancelled_status_html }}
                  </td>
                {% else %}
                  <td><a href="{{ pee.get_absolute_url }}">{{ pee.post.label }}</a></td>
                {% endif %}
                {% if request.user.is_authenticated %}
                <td>
                    {% if pee.cancelled %}
                      &nbsp;
                    {% else %}
                      <a href="{% url "ballot_paper_results_form" pee.ballot_paper_id %}">
                      {{ pee.resultset|yesno|title }}
                    {% endif %}
                    </a>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endif %}
