{% load humanize %}
{% load cache %}
{% if SHOW_SOPN_TRACKER %}
  <h2>🗳 {{ sopn_tracker_election_name }} 🗳</h2>
  <p>Official documents containing candidate information have just been published on local authority websites.</p>
  {% include "candidates/homepage_sopn_progress.html" with sopn_progress=sopn_progress %}

  <p>
    <a href="https://docs.google.com/spreadsheets/d/1SiPHOzvwUDVT3_p7dMvTChivEFBs2-iLR3o5vyZCAkE/edit#gid=0">
      The full list of SoPNs for the {{ sopn_tracker_election_name }} can be found here
    </a>
  </p>
{% cache 300 region_tracker %}
  <div class="region-grid" style="display: flex;flex-wrap: wrap;margin: -0.5em;">
  {% for nuts1_id, region in sopn_progress_by_region.items %}
    <section style="flex: 1 0 45%;margin: 0.5em;">
    <hr>
      <h3><a href="{% url "election_list_view" %}?filter_by_region={{ nuts1_id }}">{{ region.label }}
        <br>{{ region.posts_total }} ballots</a></h3>
    <div class="row">
    <div class="columns large-6">
      <h4><strong>{{region.posts_lock_suggested|intcomma }}</strong> entered</h4>
      <div class="radius progress success large-12" role="progressbar"
           aria-valuenow="{{region.posts_lock_suggested }}"
           aria-valuemin="0" aria-valuemax="{{region.posts_total }}">
        <span class="meter" style="width: {{region.sopn_progress.posts_locked_suggested_percent }}%"></span>
      </div>
    </div>
    <div class="columns large-6">
      <h4><strong>{{region.posts_locked|intcomma }}</strong> double-checked</h4>
      <div class="radius progress success large-12" role="progressbar"
           aria-valuenow="{{region.posts_locked }}" aria-valuemin="0"
           aria-valuemax="{{region.posts_total }}">
        <span class="meter" style="width: {{region.sopn_progress.posts_locked_percent }}%"></span>
      </div>
    </div>
    </div>





    <p>Out of {{region.posts_total|intcomma }} areas in total
      <strong>{{ region.sopns_imported|intcomma }}</strong> areas have SoPNs
      imported.
    </p>
    </section>
  {% endfor %}
  </div>
  {% endcache %}

{% endif %}
