{% if SHOW_SOPN_TRACKER %}
  <h2>{{ sopn_tracker_election_name }} nomination papers&nbsp;(SOPNs)</h2>
  <p>Official document containing candidate information has just been published on local authority websites.</p>
  <p>Help us find all the nomination papers for the {{ sopn_tracker_election_name }}s</p>
  <a class="button" href="https://docs.google.com/spreadsheets/d/1wZeniqnMi1dyuB1eqCCumUq1kp8O_57TQsLyPwmLtQc/edit#gid=0">
      Add links to nomination papers
  </a>
  {% include "candidates/homepage_sopn_progress.html" with sopn_progress=sopn_progress %}
{% endif %}
