<h3>Can you help?</h3>

<p>We need details of candidates local parties, manifestos and hustings events. Help by adding details to our crowd sourced spreadsheets!</p>

<p><a href="https://docs.google.com/spreadsheets/d/1vmxhe5cV9hYcG8-zVowkfW9HQkk9WSOLi_OWnyEspH4/edit#gid=0">Scotland</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1BIQuLxqixkr5BfY3xqp8UBCttA-RG0yinrCb9zsZ9IU/edit#gid=0">England (Excl. London)</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1RuS7pHA72f8qLYkTEWcYBikToLn7OJoVLIQbbgjFUdM/edit#gid=0">Wales</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/169_fwmdUOrQ0MDoqFIb7xwkn_c-NTytr3tZMpziCHys/edit#gid=0">London</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1tWoVy80Rh5jfyscWIhcaswpCplLypKSvWD-2vGb5v68/edit?resourcekey#gid=0">Hustings events</a></p>
