<tr>
    <td>
        <div class="large-12 columns">
        <div class="row collapse">
            <div class="small-9 columns">
                {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
            </div>
            <div class="small-3 columns">
            <span class="postfix">
                {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
            </span>
            </div>
        </div>
        </div>
    </td>
</tr>    