{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block content %}
  {% filter markdown%}
<div markdown="1">
# Democracy needs you! How to Volunteer: collect candidate information

We need your help collecting candidate information. Read this guide to understand how you can help!

Democracy Club Candidates is an open-source database of all candidates standing in UK elections. Its data powers
Democracy Club’s [Who Can I Vote For?](https://whocanivotefor.co.uk/), and is regularly used by a wide range of
organisations, including [The Electoral Commission](https://www.electoralcommission.org.uk/), social media
companies, and national newspapers.

## You can help crowdsource candidates

Elections in the UK are run on a local level by individual councils. This means that the state does not collect a
central list of candidates in a given election. This site aims to fill that gap. Hundreds of brilliant volunteers,
like you, come together to make this data available.

First you must [create your account](https://candidates.democracyclub.org.uk/accounts/signup/). User accounts are 
necessary for transparency and security of the database - all edits are logged and recorded on each candidate profile. 
Edits are reviewed by Democracy Club staff, and users will be banned if vandalism is suspected.

Now you need to find a candidate. You can find an existing candidate profile using the search function. Please make
sure you have checked to see whether a profile already exists before creating a new candidate.

When on a candidate page, you can use the View [candidate’s] page on WhoCanIVoteFor.co.uk link to see the public-facing
profile. Edits to Democracy Club Candidates can take between a few minutes and a couple of hours to update on
WhoCanIVoteFor, depending on current site traffic.

## Adding candidates to an election

You can add candidates to forthcoming elections on the candidate’s profile, or add an existing or new candidate
directly to the relevant ballot, selected from the ballot column on the
[list of upcoming elections](https://candidates.democracyclub.org.uk/elections/). Alternatively, you can ‘bulk add’
all candidates for a single party by using the “add candidates for a single party” feature, accessed by selecting the
relevant election from the election column.

## Editing Candidate Profiles
Each candidate profile contains a list of fields which can be edited. Some points to bear in mind:

### Links
When entering web addresses, please include the entire URL. For example:
https://democracyclub.org.uk/ not democracyclub.org.uk
https://www.facebook.com/democracyclub/ not facebook.com/democracyclub (or @democracyclub)

### Names
Names should be written in the style: Firstname Lastname. Where possible try to enter the name exactly as it appears
on the nomination papers. Alternative names are automatically added when the main name field is changed.

### Political Parties
At present we only store the registered name of a political party, not alternative descriptors. For example, all
Conservative candidates are listed as Conservative and Unionist Party.

The statement to voters should be taken from a candidate’s official webpage or leaflet, and be directly relevant
to the upcoming election.

### Favourite biscuit
Please only edit this field if you are the candidate, or have a
[cast-iron source](https://www.mumsnet.com/politics/politicians-best-answers-mumsnet-biscuit-question). As a strictly
non-partisan organisation, Democracy Club does not have a position regarding the status of Jaffa Cakes.

### Candidate Photos
[Photos must be a clear, recent, colour headshot of the candidate.](https://candidates.democracyclub.org.uk/help/photo-policy)

All photo uploads will be moderated by a Democracy Club staff member or experienced volunteer before they appear on the
profile. We also have an automated system for obtaining Twitter profile photos, described below.

## Citing sources
Please provide a link to a primary source whenever editing a profile. Ideally, this will be a link to a candidate’s
party webpage or specific social media post. Unsourced edits are liable to be removed.

## SOPNs and ballot locking
Candidates are officially confirmed as standing only when the Statement of Persons Nominated (SOPN) is published on
the relevant council website (this varies depending on the nation and election type, but is between 16 and 23 working
days before the poll).

Democracy Club Candidates archives all SOPNs and makes them accessible from the relevant ballot page. Once a SoPN is
published, you can add it to a ballot by selecting ‘Upload SOPN’ and adding the PDF file from your computer.

Once the SOPN is uploaded, please add any remaining candidates and remove those not nominated. Then select ‘suggest
locking’. This will add the ballot to a queue to be double checked by a member of the Democracy Club team or a experienced volunteer.

Once this final process is complete, the ballot will be ‘locked’ and no new candidates can be added.

### Automation
Democracy Club Candidates automates certain tasks:

**TwitterBot** This checks Twitter handles added to candidate profiles, and
updates them if they change. Whenever a Twitter handle is added to a candidate profile which lacks a photo, TwitterBot
  takes the profile picture and adds it to our photo moderation queue.

We also have a script to assist with the transcription of SOPNs during major elections. In this case, the volunteer
task is to review these automated transcriptions.

## Data publication and deletion

The following fields are not displayed on WhoCanIVoteFor.co.uk: Title / pre-nominal honorific, post-nominal letters,
alternative names, and all demographic data.

All changes to profiles are saved in the changelog, which can be viewed at the bottom of each candidate profile
(logged in users only).

If you wish Democracy Club to remove any data we hold on your own profile (including in the changelog), please email
candidates@democracyclub.org.uk with the details. We retain name, party, and election information as these are
matters of public record.

## Reporting problems and bugs

To report an issue with the site (including duplicate candidate profiles or missing elections), please email
candidates@democracyclub.org.uk or join our Slack group.


## Elections supported by this website

* District, County, and Unitary councils (including the City of London Corporation and Isles of Scilly Council)
* Directly elected mayors (Local Authority and Combined Authority)
* Police and Crime Commissioners
* London Assembly and Mayor of London
* Northern Ireland Assembly
* Scottish Parliament
* Senedd Cymru/Welsh Parliament
* UK Parliament


## What this site is
Democracy Club Candidates is an open-source database of all candidates standing in UK elections. Its data powers
Democracy Club’s [Who Can I Vote For?](https://whocanivotefor.co.uk/), and is regularly used by a wide range of
organisations, including [The Electoral Commission](https://www.electoralcommission.org.uk/), social media companies,
and national newspapers.

The database includes UK general elections from 2010, other scheduled elections from 2014/2015, and by-elections
(including council by-elections) from 2016. You can see a list of all elections in the database on the
[‘Numbers’ page](https://candidates.democracyclub.org.uk/numbers/), and a summary of the types of elections covered
can be found at the end of this guide.

## What this site is not

This site is a database of candidates only, and should not be regarded as an accurate list of current elected
representatives. If an elected official leaves office or changes political party, this will not be recorded unless
they subsequently stand for election under the new label. This also applies to the weblinks, statements, and other
information attached to candidate profiles.





</div>



  {% endfilter %}

{% endblock %}
