---
- hosts: ynr_cron
  vars_files:
    - vars.yml
    # - @vault.yml
  gather_facts: true
  become: true
  become_user: "{{ project_name }}"
  remote_user: ubuntu
  roles:
    - common
  tasks:

  - name: Set up the mailto
    cronvar:
      name: MAILTO
      value: "{{ cron_email }}"
      user: "{{ project_name }}"

  - cron:
      name: "Process images in moderation queue"
      job: "nice -n 19 ionice -c 3 output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py moderation_queue_process_queued_images"
      disabled: no

  - cron:
      name: "Parse raw data from SOPNs"
      job: "/usr/bin/flock -n /tmp/sopn-parse-cron.lockfile output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py sopn_parsing_process_unparsed"
      disabled: no

  # - cron:
  #     name: "Import elections from EE"
  #     minute: "06"
  #     job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py uk_create_elections_from_every_election"
  #     disabled: yes

  # - cron:
  #     name: "Update Twitter usernames"
  #     minute: "06"
  #     hour: "01"
  #     job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py twitterbot_update_usernames"

  - cron:
      name: "Update parties from EC"
      minute: "06"
      hour: "02"
      job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py parties_import_from_ec --post-to-slack"

  # - cron:
  #     name: "Add Twitter images to image queue"
  #     minute: "06"
  #     hour: "03"
  #     job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py twitterbot_add_images_to_queue"

  # - cron:
  #     name: "Build static person pages"
  #     minute: "10"
  #     hour: "1" # For non-election times
  #     job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py candidates_cache_api_to_directory --url-prefix https://static-candidates.democracyclub.org.uk/media/cached-api --prune"

  # - cron:
  #     name: "Update current candidates for party"
  #     minute: "10"
  #     hour: "2" # For non-election times
  #     job: "output-on-error {{project_root}}/env/bin/python {{project_root}}/code/manage.py parties_update_current_candidates"


  - cron:
      name: "Look for recent changes in EE"
      minute: "*/5"
      job: "output-on-error /var/www/ynr/env/bin/python /var/www/ynr/code/manage.py uk_create_elections_from_every_election --recently-updated"
  
  - cron:
      name: "Check for current elections" 
      minute: "23"
      hour: "23"
      job: "output-on-error /var/www/ynr/env/bin/python /var/www/ynr/code/manage.py uk_create_elections_from_every_election --check-current"

  - cron:
      name: "Update materialized view"
      minute: "*/15"
      job: "output-on-error /var/www/ynr/env/bin/python /var/www/ynr/code/manage.py update_data_export_view"
