{% extends 'base.html' %}
{% load absolute %}

{% load metadescription %}
{% load standing %}
{% load exists %}

{% block extra_head %}
    <!-- Open Graph and Twitter card data -->
    <meta property="og:url" name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" name="twitter:title" content="Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }}" />
    <meta property="og:description" name="twitter:description" content="List of Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }} - find out more on {{ site.name }}">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="en-gb" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    {% if settings.TWITTER_USERNAME %}
      <meta name="twitter:site" content="@{{ settings.TWITTER_USERNAME }}" />
    {% endif %}
    <meta property="twitter:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
{% endblock %}

{% block body_class %}constituency{% endblock %}

{% block title %}Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }}{% endblock %}

{% block hero %}
  <h1>Candidates for {{ ballot.post.label }}</h1>
{% endblock %}


{% block content %}
<div class="row">
  <div class="columns large-9">
    {% if ballot.cancelled %}
    <div class="panel">
      ❌ The poll for this election was cancelled
    </div>
    {% endif %}

    {% if not ballot.candidates_locked and candidates.exists %}
    <div class="panel">
        <p>These candidates haven't been confirmed by the official "nomination papers"
            from the council yet. This means they might not all end up on the ballot paper.</p>
        <p>We will manually verify each candidate when the nomination papers are published.</p>
    </div>
    {% endif %}

    {% include "elections/includes/_ballot_sopn_links.html" %}

    {% if candidates.exists %}
      <table class="table candidates-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Party</th>
            {% if ballot.has_results %}
            <th>Results</th>
            {% endif %}
            {% if user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <td>
              <a href="{{ candidate.person.get_absolute_url }}">
                <img class="person-avatar" src="{{ candidate.person.get_display_image_url }}" width="64" height="64" />
                {% if candidate.result.is_winner or candidate.elected %}<strong>{% endif %}
                  {{ candidate.person.name }}
                {% if candidate.result.is_winner or candidate.elected %}</strong>{% endif %}
              </a>
            </td>
            <td>{{ candidate.party.name }}</td>
            {% if ballot.has_results %}
            <td>
              {{ candidate.result.num_ballots }}
              {% if candidate.result.is_winner or candidate.elected %} (elected){% endif %}
            </td>
            {% endif %}
            <td>
              {% if user.is_authenticated %}

                {% if membership_edits_allowed %}
                  <a class="button tiny js-toggle-source-confirmation not-standing">
                    Not actually standing?
                  </a>
                  {% include 'candidates/_source_confirmation.html' with standing='not-standing' action='candidacy-delete' person_id=candidate.person_id %}
                {% endif %}

{#                {% if ballot.polls_closed %}#}
                  {% if user_can_record_results %}
                    {% if ballot.ballot_paper_id|slice:":5" == 'parl.' %}
                      {% if not has_all_winners %}
                        <form class="winner-confirm" id="winner-confirm_{{ candidate.person_id }}" action="{% url 'record-winner' election=ballot.election.slug post_id=ballot.post.slug %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="person_id" value="{{ candidate.person_id }}">
                          <input type="hidden" name="source" value="[Quick update from the constituency page]">
                          <input type="submit" class="button success" value="Mark candidate as elected">
                        </form>
                      {% endif %}
                    {% endif %}
                  {% endif %}
{#                {% endif %}#}

                  <a href="{% url 'person-update' person_id=candidate.person.pk %}" class="button tiny secondary">
                    Edit
                  </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      {% if user_can_record_results and has_any_winners %}
        <form action="{% url 'retract-winner' election=ballot.election.slug post_id=ballot.post.slug %}" method="post">
          {% csrf_token %}
          <input type="submit" class="button alert small" value="Unset the current winners, if incorrect">
        </form>
      {% endif %}

    {% else %}
      <div class="no-candidates">
        <p>
          <strong>Oh no!</strong>
          We don’t know of any candidates in {{ ballot.post.label }} for the {{ ballot.election.name }} yet.
        </p>
      </div>
    {% endif %}

    <div class="ballot-ctas">

      {% include "elections/includes/_ballot_suggest_locking.html" %}
      {% include "elections/includes/_ballot_lock_form.html" %}

      {% if membership_edits_allowed %}
        <p>
          <a class="show-new-candidate-form button" href="{% url 'person-create' election=ballot.election.slug %}">
            Add a new candidate
          </a>
        </p>
        {% if sopn %}
          <a href="{% url "bulk_add_from_sopn" ballot.election.slug ballot.post.slug %}" class="button">
            Add candidates from nomination paper in {{ballot.post.label}}
          </a>
        {% endif %}

      {% elif not user.is_authenticated %}
        <p>
          <a href="{% url 'account_login' %}?next={{ request.path }}" class="button">
            Sign in to add a new candidate
          </a>
        </p>
      {% endif %}
    </div>

    {% if membership_edits_allowed %}
      {% if add_candidate_form %}
        <div class="candidates__new" {% if add_candidate_form.errors %}style="display: block"{% endif %}>
          <h4>Add a new candidate</h4>
          <form id="new-candidate-form" name="new-candidate-form" action="{% url 'person-create' election=ballot.election.slug %}" method="post">
          {% with form=add_candidate_form identifiers_formset=identifiers_formset %}
            {% include 'candidates/_person_form.html' %}
          {% endwith %}
          </form>
        </div>
      {% endif %}

      {# Only include these if the user can alter memberships #}
      {% include "elections/includes/_ballot_candidates_might_stand.html" %}
      {% include "elections/includes/_ballot_candidates_not_standing.html" %}
    {% endif %}

  </div>
  <div class="columns large-3">
      {% include "uk/data_timeline.html" %}
  </div>
</div>

{% endblock %}
