{% extends 'base.html' %}
{% load absolute %}

{% load metadescription %}
{% load standing %}
{% load exists %}

{% block extra_head %}
    <!-- Open Graph and Twitter card data -->
    <meta property="og:url" name="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" name="twitter:title" content="Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }}" />
    <meta property="og:description" name="twitter:description" content="List of Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }} - find out more on {{ site.name }}">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="en-gb" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    {% if settings.TWITTER_USERNAME %}
      <meta name="twitter:site" content="@{{ settings.TWITTER_USERNAME }}" />
    {% endif %}
    <meta property="twitter:image" content="{{ 'img/logo.png'|static_image_path:request }}" />
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
{% endblock %}

{% block body_class %}constituency{% endblock %}

{% block title %}Candidates for {{ ballot.post.label }} in the {{ ballot.election.name }}{% endblock %}

{% block hero %}
  <h1>Candidates for {{ ballot.post.label }}</h1>
{% endblock %}


{% block content %}
<div class="row">
  <div class="columns large-9">
    {% if ballot.cancelled %}
    <div class="panel">
      ❌ The poll for this election was cancelled
    </div>
    {% endif %}

    {% if not ballot.candidates_locked and candidates.exists %}
    <div class="panel">
        <p>These candidates haven't been confirmed by the official "nomination papers"
            from the council yet. This means they might not all end up on the ballot paper.</p>
        <p>We will manually verify each candidate when the nomination papers are published.</p>
    </div>
    {% endif %}

    {% if candidates.exists %}
      <table class="table candidates-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Party</th>
            {% if ballot.has_results %}
            <th>Results</th>
            {% endif %}
            {% if user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <td>
              <a href="{{ candidate.person.get_absolute_url }}">
                <img class="person-avatar" src="{{ candidate.person.get_display_image_url }}"/>
                {% if candidate.result.is_winner or candidate.elected %}<strong>{% endif %}
                  {{ candidate.person.name }}
                {% if candidate.result.is_winner or candidate.elected %}</strong>{% endif %}
              </a>
            </td>
            <td>{{ candidate.party.name }}</td>
            {% if ballot.has_results %}
            <td>
              {{ candidate.result.num_ballots }}
              {% if candidate.result.is_winner or candidate.elected %} (elected){% endif %}
            </td>
            {% endif %}
            <td>
              {% if user.is_authenticated %}

                {% if membership_edits_allowed %}
                  <a class="button tiny js-toggle-source-confirmation not-standing">
                    Not actually standing?
                  </a>
                  {% include 'candidates/_source_confirmation.html' with standing='not-standing' action='candidacy-delete' person_id=candidate.person_id %}
                {% endif %}

                {% if ballot.polls_closed %}
                  {% if user_can_record_results and not candidate.elected %}
                    {% if 'local.' not in ballot.ballot_paper_id %}
                      <form class="winner-confirm" action="{% url 'record-winner' election=ballot.election.slug post_id=ballot.post.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="person_id" value="{{ candidate.person_id }}">
                        <input type="hidden" name="source" value="[Quick update from the constituency page]">
                        <input type="submit" class="button tiny success" value="Mark candidate as elected">
                      </form>
                    {% endif %}
                  {% endif %}
                {% endif %}

                  <a href="{% url 'person-update' person_id=candidate.person.pk %}" class="button tiny secondary">
                    Edit
                  </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      {% if user_can_record_results and has_any_winners %}
        <form action="{% url 'retract-winner' election=ballot.election.slug post_id=ballot.post.slug %}" method="post">
          {% csrf_token %}
          <input type="submit" class="button alert small" value="Unset the current winners, if incorrect">
        </form>
      {% endif %}

    {% else %}
      <div class="no-candidates">
        <p>
          <strong>Oh no!</strong>
          We don’t know of any candidates in {{ ballot.post.label }} for the {{ ballot.election.name }} yet.
        </p>
      </div>
    {% endif %}

    <div class="ballot-ctas">

      {# Suggested Locking #}
      {% if sopn and not ballot.candidates_locked %}
        {# If there's a SOPN and no lock, we want to show info about lock suggestions #}
        <h3>Suggest locking</h3>
        {% if ballot.has_lock_suggestion %}
          {% if current_user_suggested_lock %}
            <p>Thanks, you've suggested we lock this ballot – we'll review it soon.</p>
          {% else %}
            <p>Someone has suggested locking this ballot.</p>
          {% endif %}
        {% else %}
          <form method="post" id="suggest_lock_form" action="{% url 'constituency-suggest-lock' election_id=ballot.election %}">
          {% csrf_token %}
          <h3>Suggest locking</h3>

          <p>
            If you think the candidates for this ballot is complete,
            please suggest that we lock it.
          </p>
          <p>
            Please only do this with good reason, for example if you have reviewed
            the official lists of candidates ("Nomination papers" or
            "Statement of Persons Nominated") linked to above.
          </p>

          <p>
            Locking a list means that candidates can't be added or removed, but
            their details can still be edited. This is useful when we know that
            the list is final.
          </p>


          {{ suggest_lock_form.ballot }}

          {{ suggest_lock_form.justification.label_tag }}
          <label for="{{ suggest_lock_form.justification.id_for_label }}">{{ suggest_lock_form.justification.help_text }}</label>
          {{ suggest_lock_form.justification }}
              <button type="submit" class="button small secondary">Suggest locking</button>
          </form>
        {% endif %}

      {% endif %}


      {# Locking #}
      {% if user_can_lock %}
        <form method="post" action="{% url 'constituency-lock' ballot_id=ballot.ballot_paper_id %}">
          {% csrf_token %}
          {% if ballot.has_lock_suggestion and sopn %}
            {% if current_user_suggested_lock %}
               <p>
                Locking disabled because you suggested locking this ballot.
                Someone else will double check it soon.
              </p>
            {% else %}
              <input type="submit" class="button small" value="Lock candidate list">
            {% endif %}

          {% elif ballot.candidates_locked %}
            <input type="submit" class="button small" value="Unlock candidate list">
          {% endif %}

          {% if ballot.candidates_locked %}
            This list of candidates is currently <strong>locked</strong>.
          {% else %}
            This list of candidates is currently <strong>unlocked</strong>.
          {% endif %}
        </form>
      {% else %}
        {% if candidates_locked %}
          <p>
            This list of candidates is now <strong>locked</strong>;
            you can still update contact details of candidates, but
            can't change the people standing in this constituency.
          </p>
        {% endif %}
      {% endif %}

      {% if membership_edits_allowed %}
        <p>
          <a class="show-new-candidate-form button" href="{% url 'person-create' election=ballot.election.slug %}">
            Add a new candidate
          </a>
        </p>
        {% if sopn %}
          <a href="{% url "bulk_add_from_sopn" ballot.election.slug ballot.post.id %}" class="button">
            Add candidates from nomination paper in {{ballot.post.label}}
          </a>
        {% endif %}

      {% elif not request.user.is_authenticated %}
        <p>
          <a href="{% url 'account_login' %}?next={{ request.path }}" class="show-new-candidate-form button">
            Sign in to add a new candidate
          </a>
        </p>
      {% endif %}
    </div>

    {% if membership_edits_allowed and add_candidate_form %}
      <div class="candidates__new" {% if add_candidate_form.errors %}style="display: block"{% endif %}>
        <h4>Add a new candidate</h4>

        <form id="new-candidate-form" name="new-candidate-form" action="{% url 'person-create' election=ballot.election.slug %}" method="post">
        {% with form=add_candidate_form identifiers_formset=identifiers_formset %}
          {% include 'candidates/_person_form.html' %}
        {% endwith %}
        </form>
      </div>
    {% endif %}


    {% if membership_edits_allowed %}


    {% comment %}<h2>People not standing again</h2>

    {{ people_not_standing }}
{% endcomment %}
    {% if candidates_might_stand_again %}


    <div class="candidates__previous">
      <h3>Is a candidate from an earlier election standing again?</h3>


      <table class="table candidates-list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Party</th>
            {% if user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates_might_stand_again %}
          <tr>
            <td>
              <a href="{{ candidate.person.get_absolute_url }}">
                <img class="person-avatar" src="{{ candidate.person.get_display_image_url }}"/>
                {% if candidate.result.is_winner %}<strong>{% endif %}
                  {{ candidate.person.name }}
                {% if candidate.result.is_winner %}</strong>{% endif %}
              </a>
            </td>
            <td>{{ candidate.party.name }}</td>
            <td>
              <button class="button tiny js-toggle-source-confirmation standing">Standing again</button>
              <button class="button tiny js-toggle-source-confirmation not-standing">Not standing again</button>
              {% include 'candidates/_source_confirmation.html' with standing='standing' action='candidacy-create' person_id=candidate.person.pk %}
              {% include 'candidates/_source_confirmation.html' with standing='not-standing' action='candidacy-delete' person_id=candidate.person.pk %}

              <a href="{% url 'person-update' person_id=candidate.person.pk %}" class="button tiny secondary">
                Edit
              </a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    {% endif %}


    {% if people_not_standing %}
    <div class="candidates__not-standing">
      <h3>These people from earlier elections are known not to be standing again</h3>
      <table class="table candidates-list">
        <thead>
          <tr>
            <th>Name</th>
            {% if user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for person in people_not_standing %}
          <tr>
            <td>
              <a href="{{ person.get_absolute_url }}">
                <img class="person-avatar" src="{{ person.get_display_image_url }}"/>
                {{ person.name }}
              </a>
            </td>
            <td>
              <a class="button tiny js-toggle-source-confirmation standing">Actually, they are standing!</a>
              {% include 'candidates/_source_confirmation.html' with standing='standing' action='candidacy-create' person_id=person.pk %}
              <a href="{% url 'person-update' person_id=person.pk %}" class="button tiny secondary">
                Edit
              </a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    {% endif %}

    {% endif %}

  </div>
  <div class="columns large-3">
      {% include "uk/data_timeline.html" %}
  </div>
</div>

{% endblock %}
