{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block body_class %}posts{% endblock %}

{% block extra_css %}
  {% stylesheet 'official_documents' %}
{% endblock %}

{% block title %}All ballots in current or future elections{% endblock %}

{% block hero %}
  {% if shortcuts.active %}
    {% if shortcuts.active.name == "data_input" %}
      <h1>Ballots that need checking against the nomination paper</h1>
      <p>For each of these ballots, we need someone to look at the document and manually add or remove candidates
      to make our list exactly the same as the official nomination paper (SoPN).</p>
    {% endif %}
  {% else %}
    <h1>All ballots in current or future Elections</h1>
  {% endif %}

{% endblock %}

{% block content %}

  <style>

    .ballot_table {
      width: 100%;
    }

    .ballot_table td:first-child {
      width:33%;
    }
    .ballot_table td:nth-child(2) {
      width:40%;
    }
    .ballot_table td:last-child {
      width:15%;
    }
  </style>



  <aside class="ds-filter" aria-labelledby="filter-label">
    <div class="ds-filter-cluster">
      <ul>
        <li id="filter-label" class="ds-filter-label" aria-hidden="true">Filter:</li>
        <li><a href="{% url "election_list_view" %}" {% if request.get_full_path == "/elections/" %}aria-current="true" {% endif %}>All</a></li>
        {% for shortcut in shortcuts.list %}
          <li><a href="{% url "election_list_view" %}?{{ shortcut.querystring }}" {% if shortcut.active %}aria-current="true" {% endif %}>{{ shortcut.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <details {% if filter.data %}open=""{% endif %}>
      <summary>Advanced filters</summary>
      <div class="ds-advanced-filters">
        <div class="ds-filter-cluster">
            {% for field in filter.form %}
              <ul aria-labelledby="adv-filter-label-{{ forloop.counter }}">
              <li id="adv-filter-label-{{ forloop.counter }}" class="ds-filter-label" aria-hidden="true">{{ field.label }}:</li>
              {{ field }}
              </ul>
            {% endfor %}

        </div>
      </div>
    </details>
  </aside>


  {% regroup queryset by election.election_date as ballots_by_date %}
  {% for group in ballots_by_date %}
    <h3>{{ group.grouper }}</h3>

    <table class="ballot_table">
      <thead>
        <tr>
          <th>Election</th>
          <th>Ballot</th>
          <th>Candidates known</th>
          <th>Status</th>
          <th>Has Results</th>
        </tr>
      </thead>
      <tbody>
      {% for ballot in group.list %}
        <tr>
          <td>
            {% ifchanged %}
              <strong>
                <a href="{{ ballot.election.get_absolute_url }}">
                  {{ ballot.election.name }}
                </a>
              </strong>
            {% endifchanged %}
          </td>
          <td>
            <a href="{{ ballot.get_absolute_url }}">{{ ballot.post.label }}</a>
          </td>
          <td>{{ ballot.memberships_count }}</td>
          <td>
            {% if ballot.cancelled %}
              {{ ballot.cancelled }}
            {% elif ballot.candidates_locked %}
              {{ ballot.locked_status_html }}
            {% else %}
              {% if ballot.officialdocument_set.exists and not ballot.suggestedpostlock_set.exists %}
                <a href="{{ ballot.get_bulk_add_url }}" class="button tiny">Add candidates</a>
              {% else %}
                {% if ballot.suggestedpostlock_set.exists %}
                {{ ballot.suggested_lock_html }}
                {% endif %}
                Unlocked
              {% endif %}

            {% endif %}
          </td>
          <td>
            {% if ballot.polls_closed %}
              {% if ballot.elected_count == ballot.winner_count %}
                Completed
              {% elif user_can_record_results %}
                <a href="{{ ballot.get_results_url }}" class="button tiny">{{ ballot.results_button_text }}</a>
              {% else %}
                No results
              {% endif %}
            {% else %}
              Polls not closed
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% empty %}
    {% if filter.data.review_required == "suggestion" %}
      {% if filter.data.election_type %}
      All ballots for this election type with suggested locks have been locked!
      {% else%}
        All ballots with suggested locks have been locked!
      {% endif %}
    {% elif filter.data.review_required == "unlocked" %}
        All ballots with documents have had data entered!
    {% else %}
      No elections match the filters given. Try removing some.
    {% endif %}

  {% endfor %}


{% endblock %}
