{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}posts{% endblock %}

{% block title %}{% trans "Candidates for all posts in current elections" %}{% endblock %}

{% block hero %}
  <h1>{% trans "All Posts in Current Elections" %}</h1>
{% endblock %}

{% block content %}

  <style>
    .filters .selected {
      font-weight:bold;
      text-decoration: underline;
    }

    .filters p {
      margin: 1em 0 0 0;
    }
    .filters p label {
      font-weight: bold;
    }

    .filters ul {
      margin:0;
      padding:0;
      list-style-type: none;
    }

    .filters ul li {
      display: inline-block;
      margin: 0 1em 0 0;

    }

    .ballot_table {
      width: 100%;
    }

    .ballot_table td:first-child {
      width:33%;
    }
    .ballot_table td:nth-child(2) {
      width:40%;
    }
  </style>

  <div class="filters panel">
    <details {% if request.GET %}open{% endif %}>
      <summary>Filters</summary>
      {{ filter.form.as_p }}
    </details>
  </div>

  {% regroup filter.qs by election.election_date as ballots_by_date %}
  {% for group in ballots_by_date %}
    <h3>{{ group.grouper }}</h3>

    <table class="ballot_table">
      <thead>
        <tr>
          <th>Election</th>
          <th>Ballot</th>
          <th>Candidates known</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for ballot in group.list %}
          <tr>
            <td>
              {% ifchanged %}
                <strong>
                  <a href="{{ ballot.election.get_absolute_url }}">
                    {{ ballot.election.name }}
                  </a>
                </strong>
              {% endifchanged %}
            </td>
            <td>
              <a href="{{ ballot.get_absolute_url }}">{{ ballot.post.label }}</a>
            </td>
            <td>{{ ballot.memberships_count }}</td>
            <td>
              {% if ballot.cancelled %}
                {{ ballot.cancelled }}
              {% elif ballot.candidates_locked %}
                {{ ballot.locked_status_html }}
              {% else %}

                {% if ballot.suggestedpostlock_set.exists %}
                  Lock suggestion {{ ballot.suggested_lock_html }}
                {% else %}
                  Unlocked
                {% endif %}
              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% empty %}
    {% if filter.data.review_required == "suggestion" %}
      {% if filter.data.election_type %}
      All ballots for this election type with suggested locks have been locked!
      {% else%}
        All ballots with suggested locks have been locked!
      {% endif %}
    {% else %}
      No elections match the filters given. Try removing some.
    {% endif %}

  {% endfor %}


{% endblock %}
