{% extends "base.html" %}

{% block title %}
  Known candidates for each ballot in the {{ object.name }}
{% endblock %}

{% block hero %}
  <h1>{{ object.name }}</h1>
{% endblock %}


{% block content %}
<a href="{{ MEDIA_URL }}candidates-{{ object.slug }}.csv" class="button small">
  Download CSV of all candidates in the {{ object.name }}
</a>

<a href="{% url "bulk_add_party_select" object.slug %}" class="button small">
  Add candidates for a single party</a>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfvUNUTxY7lPpNVrbgagp4C5-eXG6hGSTuKpuyQAHuus8WTKw/viewform?entry.1641661784={{ object.slug }}" class="button small">
  Tell us about a hustings event in this area</a>





  {% for ballot in ballots %}
  <h3>
    <a href="{{ ballot.get_absolute_url }}">{{ ballot.post.label }}</a>
    {{ ballot.cancelled_status_html }}
    {{ ballot.locked_status_html }}
  </h3>
  <p>
    {% if ballot.winner_count %}
      {{ ballot.winner_count }} seat{{ ballot.winner_count|pluralize }} up for election.
    {% endif %}
    {{ ballot.membership_set.count }} candidates known.
  </p>

  {% if ballot.membership_set.exists %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        {% if object.party_lists_in_use %}
        <th>List position</th>
        {% endif %}
        <th>Party</th>
        {% if ballot.resultset %}
        <th>Votes</th>
        <th>Elected?</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for membership in ballot.membership_set.all %}
      <tr>
        <td><a href="{{ membership.person.get_absolute_url }}">{{ membership.person.name }}</a></td>
        {% if object.party_lists_in_use %}
        <td>{{ membership.party_list_position }}</td>
        {% endif %}

        <td>{{ membership.party.name }}</td>
        {% if ballot.resultset %}
        <td>{{ membership.result.num_ballots }}</td>
        <td>{{ membership.elected|yesno|title }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if not ballot.cancelled %}
    <a class="button tiny" href="{{ ballot.get_absolute_url }}">Add candidates</a>
    {% if ballot.election.in_past %}
      {% if ballot.resultset %}
      <a class="button tiny" href="{% url "ballot_paper_results_form" ballot.ballot_paper_id %}">Edit Results</a>
      {% else %}
      <a class="button tiny" href="{% url "ballot_paper_results_form" ballot.ballot_paper_id %}">Add Results</a>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}




{% endblock %}
