{% extends "base.html" %}
{% load pipeline %}
{% load static %}
{% block hero %}
    <h1>SOPN for {{ object.name }}</h1>
{% endblock %}

{% block content %}

    <p>Statement of Persons Nominated for {{ object.name }}. This document contains information for
        all {{ object.ballot_set.count }} ballots in the election.</p>
    {% if object.electionsopn.pages_matched %}
        <p>The pages in this document have been matched to the ballots in this election:</p>
        <ul>
            {% for ballot in ballots %}
                <li>
                    <a href="{{ ballot.get_sopn_url }}">{{ ballot.post.label }}</a>: {{ ballot.sopn.one_based_relevant_pages }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url "election_sopn_match_pages_view" election_id=object.slug %}" class="button">Edit</a>
    {% else %}
        <p>This SOPN hasn't been matched against ballots yet.</p>
        {% if user_can_upload_documents %}
            <a href="{% url "election_sopn_match_pages_view" election_id=object.slug %}" class="button">Match pages
                manually</a>
        {% endif %}
    {% endif %}
    <div id="sopn-{{ object.slug }}" class="pdf_container"></div>

    <script src="{% static "official_documents/js/pdf.worker.min.js" %}"></script>
    <script src="{% static "official_documents/js/pdf.min.js" %}"></script>
    {% javascript 'sopn_viewer' %}
    <script>
        SOPN_VIEWER.ShowSOPNInline(
            '{{ object.electionsopn.uploaded_file.url }}',
            '{{ object.slug }}',
        )
    </script>
{% endblock %}
