{% extends "base.html" %}
{% load pipeline %}
{% block content %}

  <style>
    .pdf_container:not(:empty) {
      border:1px solid #EEE;
      max-width:100% !important;
      width:90em !important;
    }
    .page_container .text_layer {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0.2;
      line-height: 1.0;
    }

    .page_container .text_layer > div {
      color: transparent;
      position: absolute;
      white-space: pre;
      cursor: text;
      transform-origin: 0% 0%;
    }
    .page_container .text_layer > div.highlight{
      color: black;
      background-color: yellow;
      border:1em solid yellow;
      margin:-1em;
      position: absolute;
      white-space: pre;
      cursor: text;
      transform-origin: 0% 0%;
    }
  </style>

  <h1>Statement of Persons Nominated for <a href="{{ object.get_absolute_url }}">{{ object.post.label }} {{ object.election.election_date }}</a></h1>

  {% if object.sopn %}
    This document was first published at {{ object.sopn.source_url|urlize }}. Showing the archived copy.
    <a href="{{ object.sopn.uploaded_file.url }}"class="button small">Download PDF</a>

    {% if documents_with_same_source.exists and documents_with_same_source.count > 1 %}
      <p>
        <strong>
        Watch out! This document contains candidate info for {{ documents_with_same_source.count }}
        area{{ documents_with_same_source.count|pluralize }}</strong>.
        Make sure you're looking at the right area.
      </p>
    {% endif %}


    <div id="sopn-{{ object.ballot_paper_id }}" class="pdf_container"></div>


  {% else %}
    No SOPN uploaded for this ballot paper yet.
  {% endif %}


  {% if user.is_staff and user_can_upload_documents %}
  {% url 'admin:official_documents_officialdocument_change' object.id as url %}
  You can <a href="{{ url }}">edit this in the admin interface</a> (e.g. to delete it)
  {% endif %}


  {% javascript 'sopn_viewer' %}
  <script>
  ShowSOPNInline(
    '{{ object.sopn.uploaded_file.url }}',
    '{{ object.ballot_paper_id }}',
    {
      'start_page': '{{ object.start_page }}',
      'end_page': '{{ object.end_page }}'
    }
  )

  </script>
{% endblock %}
