{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}
<h2>Search candidates</h2>

    <form class="search" method="get" action="{% url 'person-search' %}">
        <input type="search" placeholder="Find a candidate…" name="q" value="{{ form.q.value|default_if_none:'' }}"/>
        <button type="submit">Search</button>
    </form>

    {% if looks_like_postcode %}
    <h3>Looking information in your postcode?</h3>
    <p>Try going to <a href="https://whocanivotefor.co.uk/elections/{{ form.q.value }}/">
        'Who Can I Vote For' for information on your candidates and elections</a></p>
    {% endif %}

    {% if object_list %}
    <h3>Existing candidates</h3>

        <ul class="candidate-list">
        {% for result in object_list %}

            <li class="candidates-list__person">
                <img class="person-avatar" src="{{ result.object.get_display_image_url }}"/>
                <div class="person-name-and-party">
                  <a href="{% url 'person-view' result.object.id result.object.name|slugify %}" class="candidate-name">{{ result.object.name }}</a>
                  <span class="party">{{ result.object.last_party }}</span>
                </div>
                <a href="{% url 'person-update' person_id=result.object.pk %}" class="button secondary small">Add more details</a>
            </li>
        {% empty %}
        <p>No results found.</p>
        {% endfor %}
        </ul>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&larr; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &rarr;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}

    <h3>Add a new candidate</h3>

    {% url 'person-create-select-election' as select_election_view %}
    <p>If we don't have this person in our database already, you can add them yourself.</p>
    <p>Please check that they aren't in the results above first – you can update
      existing candidates if they are standing in another election!</p>
    <a href="{{ select_election_view }}?name={{ form.q.value }}" class="button">
      Add "{{ form.q.value }}" as a new candidate</a>



{% endblock %}
