# Only set this to True in development environments
DEBUG = True

# Set this to a long random string and keep it secret
# This is a handy tool:
# https://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = None

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
    },
}

# A tuple of tuples containing (Full name, email address)
ADMINS = ()

# **** Other settings that might be useful to change locally

# ALLOWED_HOSTS = ['*']
# INTERNAL_IPS = ['127.0.0.1', 'localhost', ]

# CACHES = {
#     "default": {
#         "BACKEND": "django.core.cache.backends.dummy.DummyCache",
#     }
# }


# **** Settings that might be useful in production

# STATICFILES_STORAGE = 'pipeline.storage.PipelineCachedStorage'
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
# ACCOUNT_DEFAULT_HTTP_PROTOCOL = 'https'
# RAVEN_CONFIG = {
#     'dsn': ''
# }

# To disable new accounts
# ACCOUNT_ADAPTER = 'ynr.account_adapter.NoNewUsersAccountAdapter'

# This should be one of:
# ELECTION_STATS
# SOPN_TRACKER
# RESULTS_PROGRESS
# BY_ELECTIONS
# FRONT_PAGE_CTA = 'BY_ELECTIONS'
