# Only set this to True in development environments
DEBUG = True

# Set this to a long random string and keep it secret
# This is a handy tool:
# https://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = None

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
    },
}

# A tuple of tuples containing (Full name, email address)
ADMINS = [()]

# **** Other settings that might be useful to change locally

# ALLOWED_HOSTS = ['*']
# INTERNAL_IPS = ['127.0.0.1', 'localhost', ]

# CACHES = {
#     "default": {
#         "BACKEND": "django.core.cache.backends.dummy.DummyCache",
#     }
# }


# **** Settings that might be useful in production

# STORAGES = {
        "staticfiles": {
            "BACKEND": "pipeline.storage.PipelineCachedStorage",
        },
    }, 
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
# ACCOUNT_DEFAULT_HTTP_PROTOCOL = 'https'


# To disable new accounts
# ACCOUNT_ADAPTER = 'ynr.account_adapter.NoNewUsersAccountAdapter'

# This should be one of:
# ELECTION_STATS
# SOPN_TRACKER
# RESULTS_PROGRESS
# BY_ELECTIONS
# FRONT_PAGE_CTA = 'BY_ELECTIONS'
SOPN_TRACKER_INFO = {}
SOPN_TRACKER_INFO["election_date"] = "2022-05-05"
SOPN_TRACKER_INFO["election_name"] = "May 2022 local elections"
SOPN_SHEET_URL = "https://docs.google.com/spreadsheets/d/1eyYvkHqvpmowxvpJ3gALfDtPXfJF7nqvMt1ttxLa9fM/edit#gid=0"
SOPN_DATES = [
    ("Scotland", date(year=2022, month=3, day=30)),
    ("England and Wales", date(year=2022, month=4, day=6)),
    ("Northern Ireland", date(year=2022, month=4, day=8)),
]

CELERY_TASK_ALWAYS_EAGER = True
CELERY_TASK_EAGER_PROPAGATES = True
