{% extends "base.html" %}

{% block title %}Duplicates{% endblock title %}

{% block content %}
  <h1>Review duplicate suggestions</h1>

  {% for object in object_list %}
    <p>User <a href="{% url 'recent-changes' %}?username={{ object.user.username }}">{{ object.user }}</a> has suggested that
      <a href="{{ object.person.get_absolute_url }}">{{ object.person }}</a> is a duplicate of
      <a href="{{ object.other_person.get_absolute_url }}">{{ object.other_person }}</a>.
    </p>
    {% include "duplicates/includes/_compare_people_table.html" with person=object.person other_person=object.other_person  show_review_actions=True %}
  {% empty %}
    <p>There are no duplicate suggestions to review at this time.</p>
  {% endfor %}

  <script>
    rejectButton = $('.reject-suggestion-button');
    rejectButton.on('click', function(e){
      $(this).hide()
      $(this).siblings('.reject-suggestion-form').first().show()
    });
  </script>
{% endblock content %}
