 {% if post_election.sopn %}
    <p>
        <a href="{{ post_election.sopn.get_absolute_url }}">
          View the Statement of Persons Nominated for this ballot:
        </a>

      {% if user_can_upload_documents %}
        <a href="{% url 'upload_document_view' election=election.slug post_id=post_data.id %}" class="button tiny">
        Upload an updated Statement of Persons Nominated</a>.
      {% endif %}
    {% else %}
      {% if user_can_upload_documents %}

        <a href="{% url 'upload_document_view' election=election.slug post_id=post_data.id %}" class="button tiny">
          Upload the Statement of Persons Nominated</a>
      {% endif %}
    </p>
  {% endif %}
