{% if sopn %}
  <p>
    <a href="{{ sopn.get_absolute_url }}">
      View the Statement of Persons Nominated for this ballot.
    </a>

    {% if user_can_upload_documents %}
      <br><a href="{% url 'upload_document_view' ballot_paper_id=ballot.ballot_paper_id %}" class="button tiny">
        Change Statement of Persons Nominated document</a>
    {% endif %}
  </p>
{% else %}
  {% if user_can_upload_documents %}
  <p>
    <a href="{% url 'upload_document_view' ballot_paper_id=ballot.ballot_paper_id %}" class="button tiny">
    Upload the Statement of Persons Nominated</a>
  </p>
  {% endif %}

{% endif %}
