{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans 'Posts needing most attention' %}</h2>
  <table class="counts_table">
    <thead>
    <th>{% trans "Election" %}</th>
    <th>{% trans "Post Name" %}</th>
    <th>{% trans "Number of Candidates" %}</th>
    </thead>
    <tbody>
    {% for pee in post_counts %}
      <tr {% if pee.count == 0 %}class="no_known"{% endif %}>
        <td>{{ pee.election.name }}</td>
        <td><a href="{{ pee.get_absolute_url }}">{{ pee.postextra.short_label }}</a></td>
        <td>{{ pee.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}
