{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% blocktrans trimmed with election_name=election_data.name %}
    Number of known {{ election_name }} candidates per post
    {% endblocktrans %}</h2>
    <table class="counts_table">
        <thead>
            <th>{% trans "Post Name" %}</th>
            <th>{% trans "Number of Candidates" %}</th>
        </thead>
        <tbody>
        {% for pee in post_counts %}
            <tr {% if pee.count == 0 %}class="no_known"{% endif%}>
                <td><a href="{{ pee.get_absolute_url }}">{{ pee.post.label }}</a></td>
                <td>{{ pee.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
