{% extends "base.html" %}


{% block content %}
<h2>Number of known {{ election_data.name }} candidates per party</h2>
    <table class="counts_table">
        <thead>
            <th>Party Name</th>
            <th>Number of Candidates</th>
        </thead>
        <tbody>
        {% for pc in party_counts %}
            <tr {% if pc.count == 0 %}class="no_known"{% endif%}>
              {% if pc.count == 0 %}
                <td>{{ pc.name }}</td>
              {% else %}
                <td><a href="{% url 'candidates_by_election_for_party' election=election party_id=pc.ec_id %}">{{ pc.name }}</a></td>
              {% endif %}
              <td>{{ pc.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
