{% extends "base.html" %}
{% load humanize i18n %}

{% block hero %}
  <div class="person__hero">
    <h1>Numbers</h1>
  </div>
{% endblock hero %}

{% block content %}

  <h2>Summaries of candidates per election</h2>

  <p>This page provides an overview of every election covered by the Democracy Club database, including total number of candidates and links to breakdowns by seat and party.</p>

  <p>{% url 'attention_needed' as url %}
      You can also see a list of all the posts in current elections
      <a href="{{ url }}">ordered starting with those with the fewest
        candidates</a>.
  </p>

  {% for era in all_elections %}
    <div class="statistics-elections {% if era.current %}current{% else %}past{% endif %}">
      <h2>{% if era.current_or_future %}
        Current or Future Elections
      {% else %}
        Past Elections
      {% endif %}</h2>

      {% for date, elections in era.dates.items %}
        <h3>{{ date }}</h3>
        {% for role_data in elections %}
          <h4>{{ role_data.role }}</h4>
          {% for election in role_data.elections %}
            <div id="statistics-election-{{ election.html_id }}">
              {% with election_name=election.name %}
                <h4>Statistics for the {{ election_name }}</h4>
                <ul>
                  <li>Total candidates: {{ election.total }}</li>
                  <li><a href="{% url "posts_counts" election=election.id %}">Candidates per post</a></li>
                  <li>
                    <a href="{% url "parties_counts" election=election.id %}">Candidates per party</a>
                  </li>
                  <li>
                    <a href="{% url "constituencies-unlocked" election=election.id %}">
                      See progress towards locking all posts
                    </a>
                  </li>
                </ul>
              {% endwith %}
            </div>
          {% endfor %}

        {% endfor %}
      {% endfor %}

    </div>
  {% endfor %}

{% endblock content %}
