{% extends "base.html" %}
{% load humanize i18n %}

{% block hero %}
  <div class="person__hero">
    <h1>Numbers</h1>
  </div>
{% endblock hero %}

{% block content %}

  <h2>Summaries of candidates per election</h2>

  <p>This page provides an overview of every election covered by the Democracy Club database, including total number of candidates and links to breakdowns by seat and party.</p>

  <p>{% url 'attention_needed' as url %}
      You can also see a list of all the posts in current elections
      <a href="{{ url }}">ordered starting with those with the fewest
        candidates</a>.
  </p>

{% regroup object_list by election_date as object_list_by_date %}

  {% for election_date, elections in object_list_by_date %}
    <h3> {{ election_date }}</h3>
    {% for election in elections %}
    {% with election_slug=election.ballot_paper__election__slug %}
      <div id="statistics-election-{{ election_slug }}">
        <h4>Statistics for {{ election.election_name }} on {{ election.election_date }}</h4>
        <ul>
          <li>Total candidates: {{ election.candidates }}</li>
          <li><a href="{% url "posts_counts" election=election_slug %}">Candidates per post</a></li>
          <li><a href="{% url "parties_counts" election=election_slug %}">Candidates per party</a></li>
          <li>
            <a href="{% url "constituencies-unlocked" election=election_slug %}">
                See progress towards locking all posts
            </a>
          </li>
          <li>
            <a href="{% url "candidate_completeness" election=election_slug %}">
                Candidate profile completeness
            </a>
          </li>
          {% endwith %}
        </ul>
      </div>
    {% endfor %}
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1&q={{ query }}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a>
        {% endif %}

      <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

{% endblock content %}
