{% csrf_token %}
<style>
    label {
        font-weight: bold;
    }
</style>
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}

{% if form.errors %}
  <div class="form-error-summary">
    <h2>Oops!</h2>
    <p>We could not accept some of the changes you made.</p>
    {% if form.non_field_errors %}
      {{ form.non_field_errors.as_ul }}
    {% else %}
      <p>Please check your information matches our requirements, below.</p>
      {% if form.errors %}
      <dl>
        {% for field, error_list in form.errors.items %}
          <dt>{{ field }}</dt>
          {% for error in error_list %}
            <dd>{{ error }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>
      {% endif %}


    {% endif %}
  </div>
{% endif %}

<h2>Personal details:</h2>
{# honorific_prefix #}
<div class="form-item {% if form.honorific_prefix.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.honorific_prefix.label_tag }}
    {% if form.honorific_prefix.help_text %}
      <p class="help_text">{{ form.honorific_prefix.help_text }}</p>
    {% endif %}
  {{ form.honorific_prefix }}
  </p>
  {{ form.honorific_prefix.errors }}
</div>

{# Name #}
<div class="form-item {% if form.name.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.name.label_tag }}
    {% if form.name.help_text %}
      <p class="help_text">{{ form.name.help_text }}</p>
    {% endif %}
  {{ form.name }}
  </p>
  {% if person.has_locked_and_current_ballots %}
    <p class="help-text">This candidate is on a locked ballot. Changes to this candidate's name will be reviewed by a second person before being published.</p>
  {% endif %}
  {{ form.name.errors }}

  {% if not add_candidate_form %}
    <p class="alternative-names">
      {% if person.other_names.exists %}
        Also known as {{ person.other_names.all|join:", " }}<br>
      {% endif %}
      <a href="{% url 'person-other-names' person_id=person.id %}">
        Manage alternative names...
      </a></p>
  {% endif %}
</div>

{# honorific_suffix #}
<div class="form-item {% if form.honorific_suffix.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.honorific_suffix.label_tag }}
    {% if form.honorific_suffix.help_text %}
      <p class="help_text">{{ form.honorific_suffix.help_text }}</p>
    {% endif %}
  {{ form.honorific_suffix }}
  </p>
  {{ form.honorific_suffix.errors }}
</div>

{# biography #}
<div class="form-item {% if form.biography.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.biography.label_tag }}
    {% if form.biography.help_text %}
      {{ form.biography.help_text }}
    {% endif %}
  {{ form.biography }}
  </p>
  {{ form.biography.errors }}
</div>

<div class="form-item {% if form.favourite_biscuit.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.favourite_biscuit.label_tag }}
    {{ form.favourite_biscuit }}
  </p>
  {{ form.favourite_biscuit.errors }}
</div>

  <div class="form-item">
    <h2>Candidacies:</h2>
    {% if current_locked_ballots %}
      <table class="table">
      <caption>Current locked ballots</caption>
      <thead>
        <th>Ballot</th>
        <th>Party</th>
      </thead>
      <tbody>
      {% for membership in current_locked_ballots %}
        <tr>
          <td>{{ membership.ballot.ballot_paper_id }}</td>
          <td>{{ membership.party.name }}<br>
          {% if membership.is_welsh_run_ballot %}
            <i class="previous-party">Previous Party Affiliations:</i>
              <ul class="previous-party">
              {% for party in membership.previous_party_affiliations.all %}
                <li>{{ party.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>

    {% endif %}


    {% if memberships_formset %}
    {{ memberships_formset.management_form }}
    {% for membership_form in memberships_formset %}
      <div class="row">
        <fieldset class="ballot_group"
          {% if membership_form.instance.pk %}
                  data-party-register="{{ membership_form.instance.ballot.post.party_set.slug|upper }}"
                  data-uses-party-lists="{{ membership_form.instance.ballot.election.party_lists_in_use }}"
          {% endif %}
        >
          {% for field in membership_form.hidden_fields %}
            {{ field }}
          {% endfor %}
          <legend>{% if membership_form.instance.pk %}
            {{ membership_form.instance.ballot.ballot_paper_id }}
          {% else %}
            New Ballot
          {% endif %}
          </legend>
          <div class="row">
            <div class="large-12 columns">
              {{ membership_form.ballot_paper_id.label }}
              {{ membership_form.ballot_paper_id }}
              {{ membership_form.ballot_paper_id.errors }}
            </div>
            <div class="large-12 columns">
              {{ membership_form.party_identifier.label }}
              {{ membership_form.party_identifier }}
              {{ membership_form.party_identifier.errors }}
            </div>
            {% if membership_form.previous_party_affiliations %}
              <div class="large-12 columns">
                {{ membership_form.previous_party_affiliations.label }}
                {{ membership_form.previous_party_affiliations }}
                {{ membership_form.previous_party_affiliations.errors }}
              </div>
            {% endif %}
            {% if membership_form.show_sopn_name_fields %}
              <div class="large-12 columns">
                {{ membership_form.sopn_last_name.label }}
                {{ membership_form.sopn_last_name }}
                {{ membership_form.sopn_last_name.errors }}
              </div>
              <div class="large-12 columns">
                {{ membership_form.sopn_first_names.label }}
                {{ membership_form.sopn_first_names }}
                {{ membership_form.sopn_first_names.errors }}
              </div>
            {% endif %}
            <div class="large-12 columns">
              {{ membership_form.party_list_position.label }}
              {{ membership_form.party_list_position }}
            </div>
            {% if membership_form.instance.pk %}
              <div class="large-12 columns">
                <label class="ds-field-checkbox">
                  {{ membership_form.DELETE }}
                  <span>Delete this candidacy</span>
                </label>
              </div>
            {% endif %}
          </div>
        </fieldset>
      </div>
    {% endfor %}
    {% endif %}
    {% if form.party_identifier %}
    {# We're on a new person form on the ballot, so we know the ballot already #}
      <fieldset class="row ballot_group"
           data-party-register="{{ ballot.post.party_set.slug|upper }}"
           data-uses-party-lists="{{ ballot.election.party_lists_in_use }}">
        <legend>{{ ballot.ballot_paper_id }}</legend>
        <div class="large-12 columns">
          {{ form.party_identifier.label }}
          {{ form.party_identifier }}
          {{ form.party_identifier.errors }}
        </div>
        <div class="large-12 columns">
          {{ form.party_list_position.label }}
          {{ form.party_list_position }}
        </div>
      </fieldset>
    {% endif %}
  </div>




<h2>Links and social media:</h2>
{% include "people/forms/person_identifier_inline_formset.html" %}

<h2>Demographics:</h2>

<div class="form-item {% if gender.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.gender.label_tag }}
    {{ form.gender }}
  </p>
  {{ form.gender.errors }}
</div>

<div class="form-item {% if form.birth_date.errors %}form-item--errors{% endif %}">
  <p>
    {{ form.birth_date.label_tag }}
    {{ form.birth_date }}
  </p>
  {{ form.birth_date.errors }}
</div>

<div class="source-confirmation {% if form.source.errors %}source-confirmation--errors{% endif %}">
  <p>
    <label for="{{ form.source.id_for_label }}">
      {% if form.source.errors %}
        <strong>You forgot to reference a source!</strong> Can you show us <em>where</em> you got this information?
      {% else %}
        What’s your <strong>source of information</strong> for this candidate?
      {% endif %}
      {{ settings.SOURCE_HINTS }}
    </label>
    {{ form.source }}
  </p>
</div>
<input
  type="submit"
  class="button"
  onclick="this.disabled=true;this.form.submit();this.value='Submitting...';"
  value="Save changes"
/>