{% extends 'base.html' %}


{% block body_class %}{% endblock %}

{% block title %}About this site{% endblock %}

{% block hero %}
  <h1>About this site</h1>
{% endblock %}



{% block content %}
{% with email=settings.SUPPORT_EMAIL %}

<div class="help-about">
  <h3> What this site is </h3>

  <p>
  Democracy Club Candidates is an open-source database of all candidates standing in UK elections. Its data powers
  Democracy Club's <a href="https://whocanivotefor.co.uk/">Who Can I Vote For?</a>, and is regularly used by a wide range of
  organisations, including <a href="https://www.electoralcommission.org.uk/">The Electoral Commission</a>,
  social media companies, and national newspapers.
  </p>

  <p>
  The core data collected by Democracy Club Candidates includes who is standing, what party they’re standing for,
  their contact details and social media accounts. The software requires that each change is submitted with a source,
  so that the collected information can be independently checked.
  </p>

  <p>
  The database includes UK general elections from 2010, other scheduled elections from 2014/2015, and by-elections
  (including council by-elections) from May 2017. You can see a list of all elections in the database on the
  <a href="{% url 'reports_home' %}">'Numbers' page</a>.
  </p>

  <p>
  Please email <a href="mailto:{{ email }}">{{ email }}</a>
  with any feedback or bug reports. If you'd like to discuss this
  site or any other project relating to elections in the UK, we'd
  suggest that you <a href="https://slack.democracyclub.org.uk/">join our Slack</a>.
  </p>

  <p>
  The site supports the following types of elections:
  </p>

  <ul>
    <li> District, County, and Unitary councils (including the City of London Corporation and Isles of Scilly Council) </li>
    <li> Directly elected mayors (Local Authority and Combined Authority) </li>
    <li> Police and Crime Commissioners </li>
    <li> London Assembly and Mayor of London </li>
    <li> Northern Ireland Assembly </li>
    <li> Scottish Parliament </li>
    <li> Senedd Cymru/Welsh Parliament </li>
    <li> UK Parliament </li>
  </ul>


<h3> What this site is not </h3>

<p>
This site is a database of candidates only, and should not be regarded as an accurate list of current elected
representatives. If an elected official leaves office or changes political party, this will not be recorded unless
they subsequently stand for election under the new label. This also applies to the weblinks, statements, and other
information attached to candidate profiles.
</p>



  <h3>Making contributions</h3>
  <p>
  Anyone can sign up for an account and contribute to the database. Learn more about this on our <a href="{% url 'volunteer-view' %}">Contributing page</a>.
  </p>

  <p>By signing up and contributing to this site, you agree to give copyright of the
  edit to Democracy Club. This doesn't apply to uploaded photos, but does apply to all other
  contributions.</p>

  <p>We only ask this so that we are able to re-publish the information openly under an open licence
      such as <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
  or remove copyright restrictions by releasing into the public domain
  (<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>).
  <h3>Technical Contributors</h3>
  <p>
  The source code for this site
  is <a href="https://github.com/DemocracyClub/yournextrepresentative">available
  on GitHub</a>.
  </p>

  <p>
  This site was originally developed by Mark Longair (mySociety),
  Sym Roe (Democracy Club) and Zarino Zappia (mySociety) and
  <a href="https://github.com/mysociety/yournextrepresentative/graphs/contributors">many
  other contributors</a>, to whom we owe a debt of gratitude.
  </p>

  <p>
  The data on candidates from the UK general election in
  2010 was taken from Edmund von der
  Burg's YourNextMP.com (now defunct), with many thanks.
  </p>

  <h3>Data use</h3>
  {% url 'api-home' as api_url %}
  <p>
  You can use the data from this site, via the
  <a href="{{ api_url }}">API or CSV download</a>, under the
  terms of the Creative Commons licence
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike
  (CC-BY-SA)</a> with the exception of:
  </p>

  <ul>
      <li>The party logos, which are sourced from <a href="https://www.electoralcommission.org.uk">The Electoral Commission</a></li>
      <li>
  Candidate photos, which are typically either submitted by the candidates
  themselves, or from sources where it seems reasonable that we might use them on
  this site, such as the party's official page for that candidate, or their
  social media profile picture.
  </li>
  </ul>

  <p>
  If the CC-BY-SA licence is problematic for you, but you feel that you have a
  worthwhile use of the data in mind, please <a href="mailto:{{ email }}">contact
  us</a> to discuss your situation further.
  </p>


  <h3>Privacy policy</h3>

  <p>
  The privacy policy of this site can be found
  <a href="https://democracyclub.org.uk/privacy/">here</a>.
  </p>

  <h3>Photo policy</h3>

  {% url 'help-photo-policy' as url %}
  <p>
  The photo policy of this site can be found
  <a href="{{ url }}">here</a>.
  </p>

  <h3>Disclaimer</h3>

  <p>
  The data on this website is crowd-sourced and may not be
  complete (or may contain inaccuracies). If you find an error,
  please either update the page yourself, or
  <a href="mailto:{{ email }}">email us</a> to report
  the problem.
  </p>

  <h3>Moderation and complaints</h3>

  <p>
  We operate a proactive moderation policy as regards images, and a reactive policy as regards text. 
  All images uploaded to the site are checked by a staff member or trusted contributor before being published.
  Text published by users is regularly reviewed. Text about candidates contributed to this site is also published on WhoCanIVoteFor.co.uk,
  where we maintain feedback forms to allow readers to report issues to us.
  </p>
  <p>
  We will respond to any and all complaints made about the service, unless obviously malicious. This includes complaint subjects as referred to by the <a href="https://www.legislation.gov.uk/ukpga/2023/50/section/72/enacted#section-72-8">Online Safety Act 2023</a>:
  </p>
  <ul>
    <li>Complaints about the content of the website.</li>
    <li>Complaints about our management of the site.</li>
    <li>Complaints about our moderation decisions, including where we have suspended a user.</li>
  </ul>
  <p>
    Anyone can submit a complaint by emailing <a href="mailto:{{ email }}">our support email</a>.
  </p>
  <p>
  Any text which we judge to be malicious or illegal in the UK will be removed as soon as it is brought to our attention, and the offending accounts will be banned from making further contributions. 
  In particular, we would draw your attention to the list of offences provided in Schedules <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/5">5</a>,
  <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/6">6</a>
  and <a href="https://www.legislation.gov.uk/ukpga/2023/50/schedule/7">7</a>
  of the Online Safety Act 2023.
  </p>

  <h3>User accounts</h3>
  <p>
  User accounts created on this website do not require anything more than basic email verification. 
  It is not possible to use these accounts for any purpose other than to edit election candidates; there is no functionality for communicating directly with other users. 
  There is also no functionality for embellishing user profiles (for example, you cannot upload a photo of yourself, or add biographical information). 
  Consequently, we believe the danger presented to individual users is extremely low. 
  </p>

  <h3>Children</h3>

  <p>
    We do not require age verification to create an account. 
    Based on past experience, we do not believe that this site offers any unique danger to child users, but we take this matter extremely seriously.
    Any attempt by users to ascertain age or biographical information about other users will likely result in an account ban. 
  </p>
  <p>
  As people below the age of 18 are ineligible to stand in UK elections, any attempt by a child to post information about themselves will be removed as soon as it is brought to our attention.
  However, the data produced by this site is intended for the use of all UK voters, including those aged 16 and 17; please bear this in mind when making edits.
  </p>
</div>

{% endwith %}
{% endblock %}
