{# Locking #}
{% load humanize %}
{% if candidates.exists and user_can_lock %}

    <form method="post" action="{% url 'constituency-lock' ballot_id=ballot.ballot_paper_id %}">
        {% csrf_token %}
        {% if ballot.candidates_locked %}
            <input type="submit" class="button small" value="Unlock">
        {% elif ballot.has_lock_suggestion and sopn %}

            {% if not current_user_suggested_lock %}
                <div class="panel callout radius">
                    <p><strong>{{ ballot.suggested_lock_html }}</strong>: Someone else has suggested that this ballot
                        should be
                        locked.
                        Please check the candidates listed above against
                        the SOPN and lock the ballot if everything matches.</p>
                    <p>
                        {{ ballot.suggestedpostlock_set.count|apnumber|title }}
                        {{ ballot.suggestedpostlock_set.count|pluralize:"person,people" }}
                        has checked this ballot, saying:
                        {% for suggestedpostlock in ballot.suggestedpostlock_set.all %}
                            <q>{{ suggestedpostlock.justification }}</q>
                        {% endfor %}
                    </p>
                    <input type="hidden" name="hashed_memberships" value="{{ ballot.hashed_memberships }}">
                    <input type="hidden" name="lock" value="lock">
                    <input type="submit" class="button small" value="Lock">
                </div>
            {% endif %}

        {% endif %}
    </form>
{% endif %}
