{% if sopn %}

          <a href="{{ sopn.get_absolute_url }}" class="button">View SOPN</a>



{% else %}
    {% if user_can_upload_documents and ballot.officialdocument_set.exists  %}
        Legacy SOPNs that need to be migrated:
        <ul>
            {% for officialdocument in ballot.officialdocument_set.all %}
            {% if officialdocument.uploaded_file %}
            <li><a href="{{ officialdocument.uploaded_file.url }}">{{ officialdocument.uploaded_file.url }}</a></li>
            {% endif %}
            {% endfor %}

        </ul>

    {% endif %}

  {% if user_can_upload_documents %}
    {% url 'upload_ballot_sopn_view' ballot_paper_id=ballot.ballot_paper_id as upload_ballot_sopn_url %}

    {% if ballot.election.electionsopn_set.all.count > 0 %}
      The {{ ballot.election.name }} has
      <a href="{% url "election_sopns_summary" ballot.election.slug %}">
        {{ ballot.election.electionsopn_set.all.count }} SOPN documents
      </a>
      attached to the election.
      It is likely that the candidates for this ballot are contained in one of those SOPNs.
      If not, you can
      <a href="{{ upload_ballot_sopn_url }}">upload a SOPN</a> for this ballot instead.
    {% else %}
      <a href="{{ upload_ballot_sopn_url }}" class="button">Upload Statement of Persons Nominated (SOPN)</a>
    {% endif %}

  {% endif %}




{% endif %}
