<div class="container">

    <details class="panel">
        <summary><strong>Debug Info (click to expand)</strong></summary>
        <br/>
        <h3>Parsing Status</h3>
        <ul>
            <li>Pages matched: {% if object.sopn.get_pages %}Yes (matched pages: {{ object.sopn.get_pages|join:", " }}
                ){% else %}No{% endif %}</li>
            <li>Raw Person Data: {% if object.rawpeople %}Yes{% else %}No{% endif %}</li>
            <li>AWS Textract Data: {% if textract_parsed.raw_data %}Yes{% else %}No{% endif %}</li>
            <li>AWS Textract Parsed? {% if textract_parsed.parsed_data %}Yes{% else %}
                No{% endif %}</li>
        </ul>


        {% if textract_parsed and textract_parsed.as_textractor_document %}
            <h3>AWS extracted table{{ textract_parsed.as_textractor_document.tables|pluralize }}</h3>
            {% for table in textract_parsed.as_textractor_document.tables %}
                <h5>{{ table.title.text }}</h5>
                {{ table.to_html|safe }}
            {% endfor %}
        {% endif %}

        {% if textract_parsed.parsed_data %}
            <h3>AWS document markdown</h3>
            <pre style="border:1px solid black">{{ textract_parsed.as_textractor_document.to_markdown }}</pre>
        {% endif %}

        {% if textract_parsed.images.exists %}
            <h3>AWS document annotated</h3>
            {% for image in textract_parsed.images.all %}
                {% if image.image %}
                    <img src="{{ image.image.url }}">
                {% endif %}
            {% endfor %}
        {% endif %}

    </details>
</div>
