{% extends "base.html" %}

{% block content %}
<h2>{{ election_obj.name }}: {{ party }} candidates</h2>

<form method=POST>
{% csrf_token %}

{% for formset in formsets %}
  {{ formset.management_form }}
  {% if formset.data.non_form_errors %}
    <div class="errorlist">
      {% for error in formset.data.non_form_errors %}
        <p>{{ error }}</p>
      {% endfor %}

    </div>
  {% endif %}
  {% for form in formset.data %}
    {% if form.name.value %}
      <div>
        <h3 style="clear:left;">{{ form.name.value }}</h3>
        <table class="table sopn_adding_suggestions_table">
          <thead>
            <tr>
              <th>Action</th>
              <th>Recent previous candidacies</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in form.select_person %}
              <tr {% if choice.data.value == '_new' %}class="selected_action"{% endif %}>
                <td class="multiple-choice" style="margin-left:1em">
                  {{ choice.tag }}
                  {% if choice.data.value == '_new' %}
                    <label>Add a new profile "{{ form.name.value }}"</label>
                  {% else %}
                    <label>Same as
                      <a href="{{ choice.choice_label.object.get_absolute_url }}"
                         target="_blank">{{ choice.choice_label.name }}</a></label>
                  {% endif %}
                </td>
                <td>
                  {% for candidacy in choice.choice_label.previous_candidacies %}
                    <li>{{ candidacy }}</li>
                  {% endfor %}

                </td>
              </tr>
            {% endfor %}
            {{ form.name }}
            {% if form.party_list_position %}
              {{ form.party_list_position }}
            {% endif %}

          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}

  <button type=submit>Next</button>
</form>

  <script>
  $('.sopn_adding_suggestions_table tr').click(function() {
    var row = $(this);
    $("tr").removeClass("selected_action");
    row.addClass("selected_action");
    row.find('td input[type=radio]').prop('checked', true);
  });
  </script>














{% endblock content %}
