{% extends "base.html" %}

{% load pipeline %}


{% block extra_css %}
    {% stylesheet 'official_documents' %}
{% endblock %}

{% block hero %}<h1>Nomination Papers</h1>{% endblock hero %}

{% block content %}
    <p>The document we cached from <a href="{{ object.source_url }}">{{ object.source_url }}</a>
        contains information on {{ document_posts.count }}
        area{{ document_posts.count|pluralize }}.</p>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lock status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        {% for document in document_posts %}
            <tr>
                <td><a href="{{ document.ballot.get_absolute_url }}">
                    {{ document.ballot.post.label }}</a> {{ document.ballot.cancelled_status_html }}</td>
                <td>{{ document.ballot.locked_status_html }}</td>
                <td>{% if not document.ballot.locked and not document.ballot.lock_suggested %}
                    <a href="{{ document.ballot.get_bulk_add_url }}" class="button tiny">
                        Add candidates</a>
                {% endif %}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock content %}
