{% extends "base.html" %}

{% load pipeline %}


{% block extra_css %}
{% stylesheet 'official_documents' %}
{% endblock %}

{% block hero %}<h1>{{ object.document_type }}</h1>{% endblock hero %}

{% block content %}
<p>The document we cached from <a href="{{ object.get_absolute_url }}">{{ object.source_url }}</a>
    contains information on {{ document_posts.count }}
    area{{ document_posts.count|pluralize }}.</p>

<ul>
  {% for document in document_posts %}
    <li>
     <a href="{{ document.ballot.get_absolute_url }}">
        {{ document.ballot.post.label }}</a>
        {{ document.ballot.cancelled_status_html }}
        {{ document.ballot.locked_status_html }}
        {% if not document.locked and not document.lock_suggested %}
        <a href="{{ document.ballot.get_bulk_add_url }}" class="button tiny">
        Add candidates</a>
        {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock content %}
