.sopn_adding_table {
  td {
    vertical-align: top;

    &:first-child {
      width: 50%;
    }

    &.delete_column {
      width: 2em;
    }
  }
}

.sopn_adding_suggestions_table {
  td {
    vertical-align: top;
  }

  tr:has(input:checked) {
    background-color: #fdf2d5;
  }
}


.cta-row-table tr:has(.cta) {
  position: relative;
}


.cta-row-table .cta:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.cta-row-table tr:has(:checked) td:not(:has(.cta)) {
  text-decoration: line-through;
}


.cta-row-table a:not(.cta) {
  position: relative;
  z-index: 99;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
